---
import generateShortId from "../../../../utilities/generateShortId"
import mapAttributes from "../../../../utilities/mapAttributes"
import type { Textarea as Props } from "../../../../types/form"
import type { HTMLAttributes } from "../../../../types/html"

const {
	autocomplete,
	autocorrect: _autocorrect,
	field = "textarea",
	form,
	id = generateShortId(),
	labelledBy,
	name,
	placeholder: _placeholder,
	value,
	wrapper = {},
	...attrs
} = Astro.props

const inputAttrs = mapAttributes(attrs as HTMLAttributes, ["sb-textarea"])
const wrapperAttrs = mapAttributes(wrapper, ["sb-textarea-wrapper"])

const content = value || (await Astro.slots.render("default"))?.trim() || ""
---

<span {...wrapperAttrs}>
	<textarea
		{...inputAttrs}
		aria-labelledby={labelledBy}
		{autocomplete}
		{form}
		{id}
		{name}
		set:html={content as string}
	/>
</span>
