---
import UrlInput from "../elements/UrlInput/index.astro"
import createClassList from "../../utilities/createClassList"
import generateShortId from "../../utilities/generateShortId"
import mapAttributes from "../../utilities/mapAttributes"
import mapDataset from "../../utilities/mapDataset"
import type { EmailField as Props } from "../../types/form"

const {
	["aria-live"]: live = "assertive",
	autocorrect: _autocorrect,
	datalist = {},
	field = "url-field",
	form,
	help: {
		["class:list"]: helpClassList = [],
		dataset: helpDataset = {},
		...helpAttrs
	} = {},
	id = generateShortId(),
	label = "URL",
	legend: {
		["class:list"]: legendClassList = [],
		dataset: legendDataset = {},
		...legendAttrs
	} = {},
	list,
	message,
	name,
	outer: {
		["class:list"]: outerClassList = [],
		dataset: outerDataset = {},
		...outerAttrs
	} = {},
	placeholder: _placeholder,
	required,
	tag: {
		["class:list"]: tagClassList = [],
		dataset: tagDataset = {},
		...tagAttrs
	} = {},
	wrapper = {},
	...attrs
} = Astro.props

const hlp = (await Astro.slots.render("message")) || message
const helpId = `${id}_help`
const lbl = (await Astro.slots.render("default")) || label
const labelId = `${id}_label`
const req = required ? { "data-sb-required": "" } : {}
const opt = required ? {} : { "data-sb-optional": "" }
---

<div
	{...outerAttrs}
	class:list={createClassList("sb-field", "sb-url-field", outerClassList)}
	{...mapDataset(outerDataset)}
	data-sb-field={field}
	{...req}
>
	<label
		{...legendAttrs}
		class:list={createClassList("sb-label", legendClassList)}
		{...mapDataset(legendDataset)}
		data-sb-field-label={field}
		id={labelId}
	>
		<span
			{...tagAttrs}
			class:list={createClassList("sb-label-tag", tagClassList)}
			{...mapDataset(tagDataset)}
			data-sb-field-label-tag={field}
			{...opt}
			set:html={lbl}
		/>
		<span
			{...helpAttrs}
			aria-live={live}
			class:list={createClassList("sb-help", helpClassList)}
			{...mapDataset(helpDataset)}
			data-sb-field-help={field}
			id={helpId}
			role="status"
			set:html={hlp}
		/>
	</label>
	<UrlInput
		{...attrs}
		{datalist}
		{field}
		{form}
		{id}
		{name}
		{required}
		{wrapper}
	/>
</div>
