---
import Picture from "../Picture/index.astro";
import type { ImageSource } from "../types";

export type Props = {
  alt: string;
  filename: string;
  height?: number;
  href?: string;
  loading?: "eager" | "lazy" | undefined;
  sources: Array<ImageSource>;
  style?: string;
  width: number;
};

const {
  alt,
  filename,
  height,
  href,
  loading = "lazy",
  sources,
  style,
  width,
} = Astro.props;
---

{
  href ? (
    <a href={href}>
      <Picture
        alt={alt}
        filename={filename}
        {...(height ? { height } : {})}
        loading={loading}
        sources={sources}
        {...(style ? { style } : {})}
        width={width}
      />
    </a>
  ) : (
    <Picture
      alt={alt}
      filename={filename}
      {...(height ? { height } : {})}
      loading={loading}
      sources={sources}
      {...(style ? { style } : {})}
      width={width}
    />
  )
}
