---
import CodeBlock from "../../../../src/CodeBlock/index.astro";
import copyToClipboardJs from "../../../../src/CodeBlock/copyToClipboard.js?raw";
import Layout from "../_layouts/index.astro";
import pageProperties from "./pageProperties";
import * as typeTs from "./_assets/type.ts.md";
import * as defaultExampleHtml from "./_assets/default-example.html.md";
import * as defaultExampleAstro from "./_assets/default-example.astro.md";
import * as withMicrodataHtml from "./_assets/with-microdata.html.md";
import * as withMicrodataAstro from "./_assets/with-microdata.astro.md";
import * as exampleTs from "./_assets/example.ts.md";
import * as exampleJs from "./_assets/example.js.md";
---

<Layout pageProperties={pageProperties}>
  <Fragment slot="tail">
    <script set:html={copyToClipboardJs} />
  </Fragment>
  <main>
    <article>
      <h2>CodeBlock</h2>
      <p>
        The <code>CodeBlock</code> is used to display snippets of code.
      </p>
      <section>
        <h3>Types</h3>
        <CodeBlock
          snippet={typeTs}
          properties={{
            codeSampleType: "code snippet",
            programmingLanguage: "TypeScript",
          }}
        />
        <p>
          The <code>dataset</code> prop takes a map of attribute names (minus the
          <code>data-</code>) and values and maps them to <code
            >data-&lt;name&gt;</code
          > attributes. See below.
        </p>
      </section>
      <section>
        <h3>Default example</h3>
        <p>This is the minimum required to use the <code>CodeBlock</code>:</p>
        <CodeBlock
          snippet={defaultExampleAstro}
          properties={{
            codeSampleType: "code snippet",
            programmingLanguage: "AstroJS",
          }}
        />
        <p>Here is the actual component:</p>
        <div class="example">
          <CodeBlock snippet={exampleTs} />
        </div>
        <p>And here is the HTML created:</p>
        <CodeBlock
          snippet={defaultExampleHtml}
          properties={{
            codeSampleType: "code snippet",
            programmingLanguage: "HTML",
          }}
        />
      </section>
      <section>
        <h3>With microdata example (preferred)</h3>
        <p>This is the minimum required to use the <code>CodeBlock</code>:</p>
        <CodeBlock
          snippet={withMicrodataAstro}
          properties={{
            codeSampleType: "code snippet",
            programmingLanguage: "AstroJS",
          }}
        />
        <p>Here is the actual component:</p>
        <div class="example">
          <CodeBlock
            properties={{
              codeSampleType: "code snippet",
              programmingLanguage: "JavaScript",
            }}
            snippet={exampleJs}
          />
        </div>
        <p>And here is the HTML created:</p>
        <CodeBlock
          snippet={withMicrodataHtml}
          properties={{
            codeSampleType: "code snippet",
            programmingLanguage: "HTML",
          }}
        />
      </section>
    </article>
  </main>
</Layout>
