---
import "./index.css"
import generateShortId from "../../utilities/generateShortId"
import mapAttribtues from "../../utilities/mapAttributes"
import type { LatestProps as Props } from "../../types"

const {
  as = "aside",
  header = {},
  id = generateShortId(),
  latest = [],
  title: ttl = "Latest additions",
  ...attrs
} = Astro.props

const labelId = `${id}_label`
const { as: HElement = "h2", ...hAttrs } = header

const headerAttrs = mapAttribtues(hAttrs, ["sb-latest-heading"])
const wrapperAttrs = mapAttribtues(attrs, ["sb-latest"])

const Element = as
const title = (await Astro.slots.render("title")) || ttl
---

{
  latest.length ? (
    <Element
      {...wrapperAttrs}
      {id}
    >
      <HElement {...headerAttrs}>{title}</HElement>
      <ol role="presentation">
        {latest.map(({ href, label }) => (
          <li>
            <a {href}>{label}</a>
          </li>
        ))}
      </ol>
    </Element>
  ) : null
}
