---
import "./index.css"
import Microdata from "../Microdata/index.astro"
import mapAttributes from "../../utilities/mapAttributes"
import type { ColumnsProps as Props } from "../../types"

const {
  as = "span",
  columns,
  heading,
  level = 2,
  microdata,
  properties,
  title,
  ...attrs
} = Astro.props

const columnsAttrs = mapAttributes(columns, ["sb-columns-columns"])
const headingAttrs = mapAttributes(heading, ["sb-columns-heading"])
const wrapperAttrs = mapAttributes(attrs, ["sb-columns"])

const HElement = `h${level}`

const articleTitle = (await Astro.slots.render("title")) || title

const useMicrodata = Boolean(import.meta.env.USE_MICRODATA)
---

<article {...wrapperAttrs}>
  {
    useMicrodata ? (
      <Microdata
        {as}
        {microdata}
        {properties}
      />
    ) : null
  }
  {
    articleTitle ? (
      <header {...headingAttrs}>
        <HElement set:html={articleTitle} />
      </header>
    ) : null
  }
  <div {...columnsAttrs}>
    <slot />
  </div>
</article>
