---
import TimeInput from "../elements/TimeInput/index.astro"
import generateShortId from "../../utilities/generateShortId"
import mapAttributes from "../../utilities/mapAttributes"
import type { PlainTimeField as Props } from "../../types/form"

const {
	["aria-live"]: live = "assertive",
	datalist = {},
	field = "plain-time-field",
	form,
	help = {},
	id = generateShortId(),
	label = "Time",
	legend = {},
	list,
	message,
	name,
	outer = {},
	required,
	tag = {},
	type: _type,
	value,
	wrapper = {},
	...attrs
} = Astro.props

const groupAttrs = mapAttributes(group, ["sb-group"])
const helpAttrs = mapAttributes(help, ["sb-help"])
const legendAttrs = mapAttributes(legend, ["sb-label"])
const outerAttrs = mapAttributes(outer, ["sb-field", "sb-plain-time-field"])
const tagAttrs = mapAttributes(tag, ["sb-label-tag"])

const hlp = (await Astro.slots.render("message")) || message
const helpId = `${id}_help`
const lbl = (await Astro.slots.render("default")) || label
const labelledBy = `${id}_label`
const req = required ? { "data-sb-required": "" } : {}
const opt = required ? {} : { "data-sb-optional": "" }
---

<div {...outerAttrs} data-sb-field={field} {...req}>
	<label {...legendAttrs} data-sb-field-label={field} id={labelledBy}>
		<span
			{...tagAttrs}
			data-sb-field-label-tag={field}
			{...opt}
			set:html={lbl}
		/>
		<span
			{...helpAttrs}
			aria-live={live}
			data-sb-field-help={field}
			id={helpId}
			role="status"
			set:html={hlp}
		/>
	</label>
	<TimeInput
		{...attrs}
		data-sb-field-element={field}
		{form}
		{id}
		{labelledBy}
		{name}
		{required}
		{value}
		{wrapper}
	/>
</div>
