---
import TimeInput from "../elements/TimeInput/index.astro";
import createClassList from "../../utilities/createClassList";
import generateShortId from "../../utilities/generateShortId";
import mapDataset from "../../utilities/mapDataset";
import type { PlainTimeField as Props } from "../../types/form";
import type { BaseAttributes } from "../../types/html";

const {
	["aria-live"]: live = "assertive",
	datalist = {},
	field = "plain-time-field",
	form,
	help = {},
	id = generateShortId(),
	label = "Time",
	legend = {},
	list,
	message,
	name,
	outer = {},
	required,
	tag = {},
	type: _type,
	value,
	wrapper = {},
	...attrs
} = Astro.props;

const {
	["class:list"]: helpClassList = [],
	dataset: helpDataset,
	...helpAttrs
} = help as BaseAttributes;

const {
	["class:list"]: legendClassList = [],
	dataset: legendDataset,
	...legendAttrs
} = legend as BaseAttributes;

const {
	["class:list"]: outerClassList = [],
	dataset: outerDataset,
	...outerAttrs
} = outer as BaseAttributes;

const {
	["class:list"]: tagClassList = [],
	dataset: tagDataset,
	...tagAttrs
} = tag as BaseAttributes;

const hlp = (await Astro.slots.render("message")) || message;
const helpId = `${id}_help`;
const lbl = (await Astro.slots.render("default")) || label;
const labelledBy = `${id}_label`;
const req = required ? { "data-sb-required": "" } : {};
const opt = required ? {} : { "data-sb-optional": "" };
---

<div
	{...outerAttrs}
	class:list={createClassList(
		"sb-field",
		"sb-plain-time-field",
		outerClassList
	)}
	{...mapDataset(outerDataset)}
	data-sb-field={field}
	{...req}
>
	<label
		{...legendAttrs}
		class:list={createClassList("sb-label", legendClassList)}
		{...mapDataset(legendDataset)}
		data-sb-field-label={field}
		id={labelledBy}
	>
		<span
			{...tagAttrs}
			class:list={createClassList("sb-label-tag", tagClassList)}
			{...mapDataset(tagDataset)}
			data-sb-field-label-tag={field}
			{...opt}
			set:html={lbl}
		/>
		<span
			{...helpAttrs}
			aria-live={live}
			class:list={createClassList("sb-help", helpClassList)}
			{...mapDataset(helpDataset)}
			data-sb-field-help={field}
			id={helpId}
			role="status"
			set:html={hlp}
		/>
	</label>
	<TimeInput
		{...attrs}
		data-sb-field-element={field}
		{form}
		{id}
		{labelledBy}
		{name}
		{required}
		{value}
		{wrapper}
	/>
</div>
