---
import Trail from "../../../../src/Trail/index.astro"
import CodeBlock from "../../../../src/CodeBlock/index.astro"
import copyToClipboardJs from "../../../../src/CodeBlock/copyToClipboard.js?raw"
import Layout from "../_layouts/index.astro"
import pageProperties from "./pageProperties"
import * as typeTs from "./_assets/type.ts.md"
import * as defaultExampleHtml from "./_assets/default-example.html.md"
import * as defaultExampleAstro from "./_assets/default-example.astro.md"
---

<Layout pageProperties={pageProperties}>
	<Fragment slot="tail">
		<script set:html={copyToClipboardJs} />
	</Fragment>
	<main>
		<article>
			<h2>Trail</h2>
			<p>
				The <code>Trail</code> is used to . If the <code>id</code> attribute is not
				provided, a unique Base58 ID is generated preceded by an underscore (to prevent
				IDs beginning with a digit), for example
				<code>_DMwzFyG3PvJGrMZstX74JS</code>.
			</p>
			<section>
				<h3>Types</h3>
				<CodeBlock
					snippet={typeTs}
					properties={{
						codeSampleType: "code snippet",
						programmingLanguage: "TypeScript",
					}}
				/>
				<p>
					The <code>dataset</code> prop takes a map of attribute names (minus the
					<code>data-</code>) and values and maps them to <code
						>data-&lt;name&gt;</code
					> attributes. See below.
				</p>
			</section>
			<section>
				<h3>Default example</h3>
				<p>This is the minimum required to use the <code>CodeBlock</code>:</p>
				<CodeBlock
					snippet={defaultExampleAstro}
					properties={{
						codeSampleType: "code snippet",
						programmingLanguage: "AstroJS",
					}}
				/>
				<p>Here is the actual component:</p>
				<div class="example">
					<Trail
						pages={{
							"/404": {
								canonical: "https://cantankerouscoder.com/404",
								description:
									"Rats! We cannot find a page at that URL. Perhaps it was moved. Or maybe the link is wrong. Either way, here are some suggestions.",
								robots: "noindex",
								label: "Missing page",
								title: "Missing page (404)",
								path: "404",
								url: "/404",
							},
							"/_components/Card": { path: "Card", url: "/_components/Card" },
							"/_components/CodeBlock": {
								path: "CodeBlock",
								url: "/_components/CodeBlock",
							},
							"/_components/CoderEmail": {
								path: "CoderEmail",
								url: "/_components/CoderEmail",
							},
							"/_components/ContactForm": {
								path: "ContactForm",
								url: "/_components/ContactForm",
							},
							"/_components/FaqForm": {
								path: "FaqForm",
								url: "/_components/FaqForm",
							},
							"/_components/Figure": {
								path: "Figure",
								url: "/_components/Figure",
							},
							"/_components/Form/_components/BooleanField": {
								path: "BooleanField",
								url: "/_components/Form/_components/BooleanField",
							},
							"/_components/Form/_components/ButtonBar": {
								path: "ButtonBar",
								url: "/_components/Form/_components/ButtonBar",
							},
							"/_components/Form/_components/Datalist": {
								path: "Datalist",
								url: "/_components/Form/_components/Datalist",
							},
							"/_components/Form/_components/EmailField": {
								path: "EmailField",
								url: "/_components/Form/_components/EmailField",
							},
							"/_components/Form/_components/Fieldset": {
								path: "Fieldset",
								url: "/_components/Form/_components/Fieldset",
							},
							"/_components/Form/_components/Honeypot": {
								path: "Honeypot",
								url: "/_components/Form/_components/Honeypot",
							},
							"/_components/Form/_components/NumberField": {
								path: "NumberField",
								url: "/_components/Form/_components/NumberField",
							},
							"/_components/Form/_components/StringField": {
								path: "StringField",
								url: "/_components/Form/_components/StringField",
							},
							"/_components/Form/_components/TelField": {
								path: "TelField",
								url: "/_components/Form/_components/TelField",
							},
							"/_components/Form/_components/UrlField": {
								path: "UrlField",
								url: "/_components/Form/_components/UrlField",
							},
							"/_components/Form/_components/temporal/DurationField": {
								path: "DurationField",
								url: "/_components/Form/_components/temporal/DurationField",
							},
							"/_components/Form/_components/temporal/InstantField": {
								path: "InstantField",
								url: "/_components/Form/_components/temporal/InstantField",
							},
							"/_components/Form/_components/temporal/PlainDateField": {
								path: "PlainDateField",
								url: "/_components/Form/_components/temporal/PlainDateField",
							},
							"/_components/Form/_components/temporal/PlainDateTimeField": {
								path: "PlainDateTimeField",
								url: "/_components/Form/_components/temporal/PlainDateTimeField",
							},
							"/_components/Form/_components/temporal/PlainMonthDayField": {
								path: "PlainMonthDayField",
								url: "/_components/Form/_components/temporal/PlainMonthDayField",
							},
							"/_components/Form/_components/temporal/PlainTimeField": {
								path: "PlainTimeField",
								url: "/_components/Form/_components/temporal/PlainTimeField",
							},
							"/_components/Form/_components/temporal/PlainYearMonthField": {
								path: "PlainYearMonthField",
								url: "/_components/Form/_components/temporal/PlainYearMonthField",
							},
							"/_components/Form/_components/temporal/TimeZoneField": {
								path: "TimeZoneField",
								url: "/_components/Form/_components/temporal/TimeZoneField",
							},
							"/_components/Form/_components/temporal/ZonedDateTimeField": {
								path: "ZonedDateTimeField",
								url: "/_components/Form/_components/temporal/ZonedDateTimeField",
							},
							"/_components/Form/_components/wrappers/FieldWrapper": {
								path: "FieldWrapper",
								url: "/_components/Form/_components/wrappers/FieldWrapper",
							},
							"/_components/Form/_components/wrappers/FieldsetWrapper": {
								path: "FieldsetWrapper",
								url: "/_components/Form/_components/wrappers/FieldsetWrapper",
							},
							"/_components/Form": { path: "Form", url: "/_components/Form" },
							"/_components/GetNotifiedForm": {
								path: "GetNotifiedForm",
								url: "/_components/GetNotifiedForm",
							},
							"/_components/Image": {
								path: "Image",
								url: "/_components/Image",
							},
							"/_components/MediaForm": {
								path: "MediaForm",
								url: "/_components/MediaForm",
							},
							"/_components/Picture": {
								path: "Picture",
								url: "/_components/Picture",
							},
							"/_components/PullQuote": {
								path: "PullQuote",
								url: "/_components/PullQuote",
							},
							"/_components/ReportIssuesForm": {
								path: "ReportIssuesForm",
								url: "/_components/ReportIssuesForm",
							},
							"/_components/Source": {
								path: "Source",
								url: "/_components/Source",
							},
							"/_components/metadata/BookTitle": {
								path: "BookTitle",
								url: "/_components/metadata/BookTitle",
							},
							"/_components/metadata/Email": {
								path: "Email",
								url: "/_components/metadata/Email",
							},
							"/_components/metadata/Metadata": {
								path: "Metadata",
								url: "/_components/metadata/Metadata",
							},
							"/_components/metadata/Number": {
								path: "Number",
								url: "/_components/metadata/Number",
							},
							"/_components/metadata/Tel": {
								path: "Tel",
								url: "/_components/metadata/Tel",
							},
							"/_components/metadata/Url": {
								path: "Url",
								url: "/_components/metadata/Url",
							},
							"/_components/temporal/Duration": {
								path: "Duration",
								url: "/_components/temporal/Duration",
							},
							"/_components/temporal/Instant": {
								path: "Instant",
								url: "/_components/temporal/Instant",
							},
							"/_components/temporal/PlainDate": {
								path: "PlainDate",
								url: "/_components/temporal/PlainDate",
							},
							"/_components/temporal/PlainDateTime": {
								path: "PlainDateTime",
								url: "/_components/temporal/PlainDateTime",
							},
							"/_components/temporal/PlainMonthDay": {
								path: "PlainMonthDay",
								url: "/_components/temporal/PlainMonthDay",
							},
							"/_components/temporal/PlainTime": {
								path: "PlainTime",
								url: "/_components/temporal/PlainTime",
							},
							"/_components/temporal/PlainYearMonth": {
								path: "PlainYearMonth",
								url: "/_components/temporal/PlainYearMonth",
							},
							"/_components/temporal/TimeZone": {
								path: "TimeZone",
								url: "/_components/temporal/TimeZone",
							},
							"/_components/temporal/ZonedDateTime": {
								path: "ZonedDateTime",
								url: "/_components/temporal/ZonedDateTime",
							},
							"/_layouts/_components/Footer/_components/CCLicense": {
								path: "CCLicense",
								url: "/_layouts/_components/Footer/_components/CCLicense",
							},
							"/_layouts/_components/Footer/_components/Nav": {
								path: "Nav",
								url: "/_layouts/_components/Footer/_components/Nav",
							},
							"/_layouts/_components/Footer": {
								path: "Footer",
								url: "/_layouts/_components/Footer",
							},
							"/_layouts/_components/Header/_components/Logotype": {
								path: "Logotype",
								url: "/_layouts/_components/Header/_components/Logotype",
							},
							"/_layouts/_components/Header/_components/Trail": {
								path: "Trail",
								url: "/_layouts/_components/Header/_components/Trail",
							},
							"/_layouts/_components/Header": {
								path: "Header",
								url: "/_layouts/_components/Header",
							},
							"/_layouts/_components/Main": {
								path: "Main",
								url: "/_layouts/_components/Main",
							},
							"/_layouts/_components/Meta/_components/LinkedData": {
								path: "LinkedData",
								url: "/_layouts/_components/Meta/_components/LinkedData",
							},
							"/_layouts/_components/Meta": {
								path: "Meta",
								url: "/_layouts/_components/Meta",
							},
							"/_layouts/_components/Paginator/_components/Items": {
								path: "Items",
								url: "/_layouts/_components/Paginator/_components/Items",
							},
							"/_layouts/_components/Paginator": {
								path: "Paginator",
								url: "/_layouts/_components/Paginator",
							},
							"/_layouts/_components/Warning": {
								path: "Warning",
								url: "/_layouts/_components/Warning",
							},
							"/_qrcode": { path: "_qrcode", url: "/_qrcode" },
							"/about/_qrcode": { path: "_qrcode", url: "/about/_qrcode" },
							"/about": {
								canonical: "https://cantankerouscoder.com/about",
								description: "The about page for CantankerousCoder.com.",
								label: "About me",
								title: "About the cantaᴎkeᴙous codeᴙ",
								path: "about",
								url: "/about",
							},
							"/contact/_qrcode": { path: "_qrcode", url: "/contact/_qrcode" },
							"/contact/failure": {
								canonical: "https://cantankerouscoder.com/contact/failure",
								description:
									"Unfortunately, there was a problem on our server and it bit the dust. We cannot process your form submission at this time. We are very sorry for this hassle. Please try again later or email coder at this web address.",
								robots: "noindex",
								title: "Form failure",
								path: "failure",
								url: "/contact/failure",
							},
							"/contact": {
								canonical: "https://cantankerouscoder.com/contact/",
								description: "The contact us page for CantankerousCoder.com.",
								title: "Contact me",
								path: "contact",
								url: "/contact",
							},
							"/contact/invalid-email": {
								canonical:
									"https://cantankerouscoder.com/contact/invalid-email",
								description:
									"We were unable to process your form submission because the supplied email address was missing or invalid. Please correct the address and resubmit the form. No action can be taken until this input is corrected.",
								robots: "noindex",
								title: "Email issue",
								path: "invalid-email",
								url: "/contact/invalid-email",
							},
							"/contact/missing-message": {
								canonical:
									"https://cantankerouscoder.com/contact/missing-message",
								description:
									"We were unable to process your form submission because no message was found. Please provide a message and resubmit the form. No action can be taken until a message is included.",
								robots: "noindex",
								title: "No message",
								path: "missing-message",
								url: "/contact/missing-message",
							},
							"/contact/success": {
								canonical: "https://cantankerouscoder.com/contact/success",
								description:
									"Success! We have sent your message to the cantaᴎkeᴙous codeᴙ. No doubt, he will get right on it as soon as he sees it. Thanks for thinking of us.",
								robots: "noindex",
								title: "Success",
								path: "success",
								url: "/contact/success",
							},
							"/cookie-policy/_qrcode": {
								path: "_qrcode",
								url: "/cookie-policy/_qrcode",
							},
							"/cookie-policy": {
								canonical: "https://cantankerouscoder.com/cookie-policy/",
								description:
									"The cookie policy page for CantankerousCoder.com.",
								title: "Cookie policy",
								path: "cookie-policy",
								url: "/cookie-policy",
							},
							"/faq/_faqs/Proof": {
								id: "where-is-your-proof",
								question: "Whereʼs your proof?",
								tags: [],
								path: "Proof",
								url: "/faq/_faqs/Proof",
							},
							"/faq/_faqs/Reach": {
								id: "why-not-tone-it-down-and-reach-more-people",
								question: "Why not tone it down and reach more people?",
								tags: [],
								path: "Reach",
								url: "/faq/_faqs/Reach",
							},
							"/faq/_faqs/Rude": {
								id: "why-are-you-so-rude",
								question: "Why are you so rude?",
								tags: [],
								path: "Rude",
								url: "/faq/_faqs/Rude",
							},
							"/faq/_faqs/Wrong": {
								id: "you-are-wrong",
								question: "Youʼre wrong!",
								tags: [],
								path: "Wrong",
								url: "/faq/_faqs/Wrong",
							},
							"/faq/_qrcode": { path: "_qrcode", url: "/faq/_qrcode" },
							"/faq/failure": {
								canonical: "https://cantankerouscoder.com/faq/failure",
								description:
									"Unfortunately, there was a problem on our server and it bit the dust. We cannot process your form submission at this time. We are very sorry for this hassle. Please try again later or email coder at this web address.",
								robots: "noindex",
								title: "Form failure",
								path: "failure",
								url: "/faq/failure",
							},
							"/faq": {
								canonical: "https://cantankerouscoder.com/faq",
								description: "The FAQ page for CantankerousCoder.com.",
								label: "FAQ",
								title: "Frequently-asked questions",
								path: "faq",
								url: "/faq",
							},
							"/faq/invalid-email": {
								canonical: "https://cantankerouscoder.com/faq/invalid-email",
								description:
									"We were unable to process your form submission because the supplied email address was missing or invalid. Please correct the address and resubmit the form. No action can be taken until this input is corrected.",
								robots: "noindex",
								title: "Email issue",
								path: "invalid-email",
								url: "/faq/invalid-email",
							},
							"/faq/missing-question": {
								canonical: "https://cantankerouscoder.com/faq/missing-question",
								description:
									"We were unable to process your form submission because no question was found. Please provide a question and resubmit the form. No action can be taken until a question is provided.",
								robots: "noindex",
								title: "No question",
								path: "missing-question",
								url: "/faq/missing-question",
							},
							"/faq/success": {
								canonical: "https://cantankerouscoder.com/faq/success",
								description:
									"Success! Thank you for submitting your question to the cantaᴎkeᴙous codeᴙ. No doubt, he will get right on it as soon as he sees it. Ooo. Canʼt wait!",
								robots: "noindex",
								title: "Success",
								path: "success",
								url: "/faq/success",
							},
							"/get-notified/_qrcode": {
								path: "_qrcode",
								url: "/get-notified/_qrcode",
							},
							"/get-notified/failure": {
								canonical: "https://cantankerouscoder.com/get-notified/failure",
								description:
									"Unfortunately, there was a problem on our server and it bit the dust. We cannot process your form submission at this time. We are very sorry for this hassle. Please try again later or email coder at this web address.",
								robots: "noindex",
								title: "Form failure",
								path: "failure",
								url: "/get-notified/failure",
							},
							"/get-notified": {
								canonical: "https://cantankerouscoder.com/get-notified/",
								description: "The sign up page for CantankerousCoder.com.",
								title: "Get notified",
								path: "get-notified",
								url: "/get-notified",
							},
							"/get-notified/invalid-email": {
								canonical:
									"https://cantankerouscoder.com/get-notified/invalid-email",
								description:
									"We were unable to process your form submission because the supplied email address was missing or invalid. Please correct the address and resubmit the form. No action can be taken until this input is corrected.",
								robots: "noindex",
								title: "Email issue",
								path: "invalid-email",
								url: "/get-notified/invalid-email",
							},
							"/get-notified/success": {
								canonical: "https://cantankerouscoder.com/get-notified/success",
								description:
									"Thanks for signing up to be notified when we post new content on the cantaᴎkeᴙous codeᴙ site. We hope to keep up a steady stream of invective, er, polemics.",
								robots: "noindex",
								title: "Success",
								path: "success",
								url: "/get-notified/success",
							},
							"/": {
								canonical: "https://cantankerouscoder.com/",
								description: "The home page for CantankerousCoder.com.",
								image: { alt: "", filename: "rant", type: "image/png" },
								label: "home",
								title: "cantaᴎkeᴙous codeᴙ",
								path: "/",
								url: "/",
							},
							"/media/_qrcode": { path: "_qrcode", url: "/media/_qrcode" },
							"/media/failure": {
								canonical: "https://cantankerouscoder.com/media/failure",
								description:
									"Unfortunately, there was a problem on our server and it bit the dust. We cannot process your form submission at this time. We are very sorry for this hassle. Please try again later or email coder at this web address.",
								robots: "noindex",
								title: "Form failure",
								path: "failure",
								url: "/media/failure",
							},
							"/media": {
								canonical: "https://cantankerouscoder.com/media",
								description: "The media page for CantankerousCoder.com.",
								label: "Media",
								title: "Media kit",
								path: "media",
								url: "/media",
							},
							"/media/invalid-email": {
								canonical: "https://cantankerouscoder.com/media/invalid-email",
								description:
									"We were unable to process your form submission because the supplied email address was missing or invalid. Please correct the address and resubmit the form. No action can be taken until this input is corrected.",
								robots: "noindex",
								title: "Email issue",
								path: "invalid-email",
								url: "/media/invalid-email",
							},
							"/media/missing-inquiry": {
								canonical:
									"https://cantankerouscoder.com/media/missing-inquiry",
								description:
									"We were unable to process your form submission because no inquiry was found. Please provide an inquiry and resubmit the form. No action can be taken until an inquiry is included.",
								robots: "noindex",
								title: "No inquiry",
								path: "missing-inquiry",
								url: "/media/missing-inquiry",
							},
							"/media/missing-name": {
								canonical: "https://cantankerouscoder.com/media/missing-name",
								description:
									"We were unable to process your form submission because no name was found. Please provide your name and resubmit the form. No action can be taken until your name is included.",
								robots: "noindex",
								title: "No name",
								path: "missing-name",
								url: "/media/missing-name",
							},
							"/media/success": {
								canonical: "https://cantankerouscoder.com/media/success",
								description:
									"Success! We have sent your inquiry to the cantaᴎkeᴙous codeᴙ. No doubt, he will get right on it as soon as he sees it. Thanks for thinking of us.",
								robots: "noindex",
								title: "Success",
								path: "success",
								url: "/media/success",
							},
							"/polemics/_qrcode": {
								path: "_qrcode",
								url: "/polemics/_qrcode",
							},
							"/polemics/ai-will-not-kill-us/_qrcode": {
								path: "_qrcode",
								url: "/polemics/ai-will-not-kill-us/_qrcode",
							},
							"/polemics/ai-will-not-kill-us": {
								blurb:
									"AI, despite what you have been told, cannot think for itself. It will do only what we program it to do. And what will that be? Well, ask yourself: What have we done with every other technological “advance”?",
								canonical:
									"https://cantankerouscoder.com/polemics/ai-will-not-kill-us",
								description:
									"AI, despite what you have been told, cannot think for itself. It will do only what we program it to do. And what will that be? Well, ask yourself: What have we done with every other technological “advance”?",
								image: { alt: "", filename: "ai", type: "image/png" },
								pubdate: "2023-04-01",
								subtitle: "We will kill ourselves.",
								title: "AI will not kill us",
								path: "ai-will-not-kill-us",
								url: "/polemics/ai-will-not-kill-us",
							},
							"/polemics/bye-teams/_qrcode": {
								path: "_qrcode",
								url: "/polemics/bye-teams/_qrcode",
							},
							"/polemics/bye-teams": {
								blurb:
									"The business analyst, done well, provides an infrastructure that permits devs, testers, etc. to optimize collaboration. Teams add no value. They do nothing beyond giving management the illusion of control.",
								canonical: "https://cantankerouscoder.com/polemics/bye-teams",
								description:
									"The business analyst, done well, provides an infrastructure to the devs, testers, etc. that optimizes collaboration. Arbitrary teams add nothing other than to provide management the ability to make a mess of things.",
								image: {
									alt: "",
									filename: "high-performing-team",
									type: "image/png",
								},
								pubdate: "2023-04-01",
								subtitle: "Great BAs make teams unnecessary.",
								title: "Bye, teams!",
								path: "bye-teams",
								url: "/polemics/bye-teams",
							},
							"/polemics/creator-or-maintainer/_qrcode": {
								path: "_qrcode",
								url: "/polemics/creator-or-maintainer/_qrcode",
							},
							"/polemics/creator-or-maintainer": {
								blurb:
									"Junior/senior is a false dichotomy. We all cycle between inexperienced and experienced as things evolve. A much better delineation is creator vs. maintainer, or bespoke vs. commodity.",
								canonical:
									"https://cantankerouscoder.com/polemics/creator-or-maintainer",
								description:
									"Junior/senior is a false dichotomy. We all cycle between inexperienced and experienced as things evolve. A much better delineation is creator vs. maintainer, or bespoke vs. commodity.",
								image: { alt: "", filename: "builder", type: "image/png" },
								pubdate: "2023-04-01",
								subtitle: "Forget the junior/senior nonsense.",
								title: "Creator or maintainer",
								path: "creator-or-maintainer",
								url: "/polemics/creator-or-maintainer",
							},
							"/polemics/delusional-thinking-abounds/_qrcode": {
								path: "_qrcode",
								url: "/polemics/delusional-thinking-abounds/_qrcode",
							},
							"/polemics/delusional-thinking-abounds": {
								blurb:
									"Forget about “delivering value to the customer”. Capitalist entities are about concentrating capital. Period. Expect anything else and you are delusional.",
								canonical:
									"https://cantankerouscoder.com/polemics/delusional-thinking-abounds",
								description:
									"Forget about “delivering value to the customer”. Capitalist entities are about concentrating capital. Period. Expect anything else and you are delusional.",
								image: { alt: "", filename: "burger", type: "image/png" },
								pubdate: "2023-04-01",
								subtitle: "Hello, society of the spectacle.",
								title: "Delusional thinking abounds",
								path: "delusional-thinking-abounds",
								url: "/polemics/delusional-thinking-abounds",
							},
							"/polemics/despotic-development/_qrcode": {
								path: "_qrcode",
								url: "/polemics/despotic-development/_qrcode",
							},
							"/polemics/despotic-development": {
								blurb:
									"Why is there so much authoritarian and even totalitarian nonsense in tech? Why do so many programmers try to force other programmers to obey their utterly arbitrary rules? Is it megalomania? Or just infantile insecurity?",
								canonical:
									"https://cantankerouscoder.com/polemics/despotic-development",
								description:
									"Why is there so much authoritarian and even totalitarian nonsense in tech? Why do so many programmers try to force other programmers to obey their utterly arbitrary rules? Is it megalomania? Or just infantile insecurity?",
								image: { alt: "", filename: "1984", type: "image/png" },
								pubdate: "2023-04-01",
								subtitle: "Why do so many devs have trust issues?",
								title: "Despotic development",
								path: "despotic-development",
								url: "/polemics/despotic-development",
							},
							"/polemics/eat-my-semicolons/_qrcode": {
								path: "_qrcode",
								url: "/polemics/eat-my-semicolons/_qrcode",
							},
							"/polemics/eat-my-semicolons": {
								blurb:
									"Letʼs settle this bullshit about semicolons in JavaScript being “required” once and forever. And along the way, we will reveal just how absurd and specious the arguments of the semicolon police really are.",
								canonical:
									"https://cantankerouscoder.com/polemics/despotic-development",
								description:
									"Letʼs settle this bullshit about semicolons in JavaScript being “required” once and forever. And along the way, we will reveal just how absurd and specious the arguments of the semicolon police really are.",
								image: { alt: "", filename: "finger", type: "image/png" },
								pubdate: "2023-04-01",
								subtitle: "We donʼt need no stinkinʼ semicolons.",
								title: "Eat my semicolons",
								path: "eat-my-semicolons",
								url: "/polemics/eat-my-semicolons",
							},
							"/polemics/how-to-avoid-the-blame/_qrcode": {
								path: "_qrcode",
								url: "/polemics/how-to-avoid-the-blame/_qrcode",
							},
							"/polemics/how-to-avoid-the-blame": {
								blurb:
									"Humans want more than anything else to avoid accountability for our actions. To this end, weʼve invented a whole bag of tricks we use to deny culpability.",
								canonical:
									"https://cantankerouscoder.com/polemics/how-to-avoid-the-blame",
								description:
									"Humans want more than anything else to avoid accountability for our actions. To this end, weʼve invented a whole bag of tricks we use to deny culpability.",
								image: { alt: "", filename: "handcuffs", type: "image/png" },
								pubdate: "2023-04-01",
								subtitle: "These are the tricks youʼre looking for.",
								title: "How to avoid the blame",
								path: "how-to-avoid-the-blame",
								url: "/polemics/how-to-avoid-the-blame",
							},
							"/polemics/i-contrarian/_qrcode": {
								path: "_qrcode",
								url: "/polemics/i-contrarian/_qrcode",
							},
							"/polemics/i-contrarian": {
								blurb:
									"I write when I disagree, not when I agree. There is enough noise already. No need for me to add to it. If that makes me appear contrarian, so be it.",
								canonical:
									"https://cantankerouscoder.com/polemics/i-contrarian",
								description:
									"I write when I disagree, not when I agree. There is enough noise already. No need for me to add to it. If that makes me appear contrarian, so be it.",
								image: { alt: "", filename: "cassandra", type: "image/png" },
								pubdate: "2023-04-01",
								subtitle: "Never been much for mimesis.",
								title: "I, contrarian",
								path: "i-contrarian",
								url: "/polemics/i-contrarian",
							},
							"/polemics": {
								canonical: "https://cantankerouscoder.com/polemics",
								children: [
									"bye-teams",
									"ai-will-not-kill-us",
									"star-dreck",
									"delusional-thinking-abounds",
									"life-in-our-tech-dystopia",
									"lives-or-luxuries",
									"how-to-avoid-the-blame",
									"no-exit",
									"creator-or-maintainer",
									"programming-languages-meh",
									"tech-is-a-suicide-cult",
									"the-unasked-question",
									"you-are-not-going-to-mars",
									"despotic-development",
									"no-substitute-for-maturity",
									"we-are-completely-fucked",
									"i-contrarian",
									"interviews-do-not-work",
									"the-arrogance-of-programmers",
									"eat-my-semicolons",
								],
								description: "The polemics page for CantankerousCoder.com.",
								title: "The polemics",
								path: "polemics",
								url: "/polemics",
							},
							"/polemics/interviews-do-not-work/_qrcode": {
								path: "_qrcode",
								url: "/polemics/interviews-do-not-work/_qrcode",
							},
							"/polemics/interviews-do-not-work": {
								blurb:
									"Virtually every business hires using interviews, despite boatloads of proof that interviews are a terrible way to hire. So let us debunk this nonsense once and for all. Not that anything will change, of course.",
								canonical:
									"https://cantankerouscoder.com/polemics/interviews-do-not-work",
								description:
									"Virtually every business hires using interviews, despite boatloads of proof that interviews are a terrible way to hire. So let us debunk this nonsense once and for all. Not that anything will change, of course.",
								image: { alt: "", filename: "bias", type: "image/png" },
								pubdate: "2023-04-01",
								subtitle: "Stop fooling yourself.",
								title: "Interviews do not work",
								path: "interviews-do-not-work",
								url: "/polemics/interviews-do-not-work",
							},
							"/polemics/life-in-our-tech-dystopia/_qrcode": {
								path: "_qrcode",
								url: "/polemics/life-in-our-tech-dystopia/_qrcode",
							},
							"/polemics/life-in-our-tech-dystopia": {
								blurb:
									"If you are part of the “Golden Billion”, then the odds are that you havenʼt the foggiest clue how bad things are for the other 87% of humanity — or the Golden Billionʼs role in creating that dystopia.",
								canonical:
									"https://cantankerouscoder.com/polemics/ai-will-not-kill-us",
								description:
									"If you are part of the “Golden Billion”, then the odds are that you havenʼt the foggiest clue how bad things are for the other 87% of humanity — or the Golden Billionʼs role in creating that dystopia.",
								image: {
									alt: "",
									filename: "darkness-at-noon",
									type: "image/png",
								},
								pubdate: "2023-04-01",
								subtitle: "Isnʼt 6000+ years of this shit enough?",
								title: "Life in our tech dystopia",
								path: "life-in-our-tech-dystopia",
								url: "/polemics/life-in-our-tech-dystopia",
							},
							"/polemics/lives-or-luxuries/_qrcode": {
								path: "_qrcode",
								url: "/polemics/lives-or-luxuries/_qrcode",
							},
							"/polemics/lives-or-luxuries": {
								blurb:
									"Am I the only one to notice that AI requires enormous resources to run? As usage increases exponentially, so will the demand for scarce resources. In a zero sum game, who loses? But you already know, donʼt you?",
								canonical:
									"https://cantankerouscoder.com/polemics/lives-or-luxuries",
								description:
									"Am I the only one to notice that AI requires enormous resources to run? As usage increases exponentially, so will the demand for scarce resources. In a zero sum game, who loses? But you already know, donʼt you?",
								image: { alt: "", filename: "smokestack", type: "image/png" },
								pubdate: "2023-04-01",
								subtitle: "AI? Or the lives of billions of people?",
								title: "Lives or luxuries?",
								path: "lives-or-luxuries",
								url: "/polemics/lives-or-luxuries",
							},
							"/polemics/no-exit/_qrcode": {
								path: "_qrcode",
								url: "/polemics/no-exit/_qrcode",
							},
							"/polemics/no-exit": {
								blurb:
									"Keep telling yourself that you are an autonomous human being creating your own destiny. Pay no attention to the evidence, piled sky-high, that you are just another slave. If you close your eyes, then maybe you can make yourself believe it.",
								canonical: "https://cantankerouscoder.com/polemics/no-exit",
								description:
									"Keep telling yourself that you are an autonomous human being creating your own destiny. Pay no attention to the evidence, piled sky-high, that you are just another slave. If you close your eyes, then maybe you can make yourself believe it.",
								image: { alt: "", filename: "no-exit", type: "image/png" },
								pubdate: "2023-04-01",
								subtitle: "Life in the concentration camp.",
								title: "No exit",
								path: "no-exit",
								url: "/polemics/no-exit",
							},
							"/polemics/no-substitute-for-maturity/_qrcode": {
								path: "_qrcode",
								url: "/polemics/no-substitute-for-maturity/_qrcode",
							},
							"/polemics/no-substitute-for-maturity": {
								blurb:
									"Adult human beings do not need mommy or daddy to tell them what to do. But adults are somewhat thin on the ground these days. Whatʼs a business to do? Add oodles of “process” of course, and call it a day.",
								canonical:
									"https://cantankerouscoder.com/polemics/no-substitute-for-maturity",
								description:
									"Adult human beings do not need mommy or daddy to tell them what to do. But adults are somewhat thin on the ground these days. Whatʼs a business to do? Add oodles of “process” of course, and call it a day.",
								image: { alt: "", filename: "thinker", type: "image/png" },
								pubdate: "2023-04-01",
								subtitle: "Process is for infants.",
								title: "No substitute for maturity",
								path: "no-substitute-for-maturity",
								url: "/polemics/no-substitute-for-maturity",
							},
							"/polemics/programming-languages-meh/_qrcode": {
								path: "_qrcode",
								url: "/polemics/programming-languages-meh/_qrcode",
							},
							"/polemics/programming-languages-meh": {
								blurb:
									"Too many front-end developers leap straight to the writing JavaScript or other “programming languages”. Markup languages, stylesheet languages, accessibility, planning, etc. are all given short shrift. Thatʼs a mistake.",
								canonical:
									"https://cantankerouscoder.com/polemics/programming-languages-meh",
								description:
									"Too many front-end developers leap straight to the writing JavaScript or other “programming languages”. Markup languages, stylesheet languages, accessibility, planning, etc. are all given short shrift. Thatʼs a mistake.",
								image: { alt: "", filename: "foundation", type: "image/png" },
								pubdate: "2023-04-01",
								subtitle: "HTML is just as cool as LISP.",
								title: "Programming languages: meh!",
								path: "programming-languages-meh",
								url: "/polemics/programming-languages-meh",
							},
							"/polemics/star-bores/_qrcode": {
								path: "_qrcode",
								url: "/polemics/star-bores/_qrcode",
							},
							"/polemics/star-bores": {
								blurb:
									"Star Wars is the greatest waste of human potential outside of real war. Billions of dollars, billions of hours of effort, all to promote a vapid, hackneyed, infantile fantasy masquerading as “science” fiction.",
								canonical: "https://cantankerouscoder.com/polemics/star-bores",
								description:
									"Star Wars is the greatest waste of human potential outside of real war. Billions of dollars, billions of hours of effort, all to promote a vapid, hackneyed, infantile fantasy masquerading as “science” fiction.",
								image: { alt: "", filename: "star-bores", type: "image/png" },
								pubdate: "2023-04-01",
								subtitle: "What an enormous waste of human potential.",
								title: "Star Bores",
								path: "star-bores",
								url: "/polemics/star-bores",
							},
							"/polemics/star-dreck/_qrcode": {
								path: "_qrcode",
								url: "/polemics/star-dreck/_qrcode",
							},
							"/polemics/star-dreck": {
								blurb:
									"<i>Star Trek</i> is a remarkably childish fantasy pretending to be science fiction and cultural commentary. Rather than an ideal, enlightened society, it is just another tibal, hierarchical, violent, militaristic, teen boy fantasy.",
								canonical: "https://cantankerouscoder.com/polemics/star-dreck",
								description:
									"<i>Star Trek</i> is a remarkably childish fantasy pretending to be science fiction and cultural commentary. Rather than an ideal, enlightened society, it is just another tibal, hierarchical, violent, militaristic, teen boy fantasy.",
								image: { alt: "", filename: "star-dreck", type: "image/png" },
								pubdate: "2023-04-01",
								subtitle: "Where toddlers boldly go…",
								title: "Star Dreck",
								path: "star-dreck",
								url: "/polemics/star-dreck",
							},
							"/polemics/tech-is-a-suicide-cult/_qrcode": {
								path: "_qrcode",
								url: "/polemics/tech-is-a-suicide-cult/_qrcode",
							},
							"/polemics/tech-is-a-suicide-cult": {
								blurb:
									"Technophiles everywhere — and arenʼt we all technophiles these days? — tell themselves daily that tech, more tech, will save us. But tech in the hands of infants — and we are all infants — spells disaster for humanity. More and more powerful tech will only make it worse.",
								canonical:
									"https://cantankerouscoder.com/polemics/tech-is-a-suicide-cult",
								description:
									"Technophiles everywhere — and arenʼt we all technophiles these days? — tell themselves daily that tech, more tech, will save us. But tech in the hands of infants — and we are all infants — spells disaster for humanity. More and more powerful tech will only make it worse.",
								image: { alt: "", filename: "cult", type: "image/png" },
								pubdate: "2023-04-01",
								subtitle: "Tech is our end-times religion. Admit it.",
								title: "Tech is a suicide cult",
								path: "tech-is-a-suicide-cult",
								url: "/polemics/tech-is-a-suicide-cult",
							},
							"/polemics/the-arrogance-of-programmers/_qrcode": {
								path: "_qrcode",
								url: "/polemics/the-arrogance-of-programmers/_qrcode",
							},
							"/polemics/the-arrogance-of-programmers": {
								blurb:
									"It is often astonishing how arrogant many programmers and computer scientists can be. Even worse is the blatant lying they will often do to try to disguise their arrogant pretension. Permit me to call them out on it.",
								canonical:
									"https://cantankerouscoder.com/polemics/the-arrogance-of-programmers",
								description:
									"It is often astonishing how arrogant many programmers and computer scientists can be. Even worse is the blatant lying they will often do to try to disguise their arrogant pretension. Permit me to call them out on it.",
								image: { alt: "", filename: "sicp", type: "image/png" },
								pubdate: "2023-04-01",
								subtitle: "Deflate your fucking egos now, please.",
								title: "The arrogance of programmers",
								path: "the-arrogance-of-programmers",
								url: "/polemics/the-arrogance-of-programmers",
							},
							"/polemics/the-unasked-question/_qrcode": {
								path: "_qrcode",
								url: "/polemics/the-unasked-question/_qrcode",
							},
							"/polemics/the-unasked-question": {
								blurb:
									"Virtually all of tech is tainted by tunnel vision. We studiously avoid asking the obvious questions: the big questions. Such as, Is what we are building going to help humanity to thrive and survive, or are we simply accelerating our species to its imminent doom?",
								canonical:
									"https://cantankerouscoder.com/polemics/the-unasked-question",
								description:
									"Virtually all of tech is tainted by tunnel vision. We studiously avoid asking the obvious questions: the big questions. Such as, Is what we are building going to help humanity to thrive and survive, or are we simply accelerating our species to its imminent doom?",
								image: { alt: "", filename: "homeless", type: "image/png" },
								pubdate: "2023-04-01",
								subtitle: "Therefore also the unanwered question.",
								title: "The unasked question",
								path: "the-unasked-question",
								url: "/polemics/the-unasked-question",
							},
							"/polemics/we-are-completely-fucked/_qrcode": {
								path: "_qrcode",
								url: "/polemics/we-are-completely-fucked/_qrcode",
							},
							"/polemics/we-are-completely-fucked": {
								blurb:
									"What industrialization did to craft workers and robotics did to blue collar workers AI is poised to do to white collar and clerical workers. Can you say “karma”? Hope so.",
								canonical:
									"https://cantankerouscoder.com/polemics/we-are-completely-fucked",
								description:
									"What industrialization did to craft workers and robotics did to blue collar workers AI is poised to do to white collar and clerical workers. Can you say “karma”? Hope so.",
								image: {
									alt: "",
									filename: "mushroom-cloud",
									type: "image/png",
								},
								pubdate: "2023-04-01",
								subtitle: "Say goodbye to your tech job.",
								title: "We are completely fucked",
								path: "we-are-completely-fucked",
								url: "/polemics/we-are-completely-fucked",
							},
							"/polemics/you-are-not-going-to-mars/_qrcode": {
								path: "_qrcode",
								url: "/polemics/you-are-not-going-to-mars/_qrcode",
							},
							"/polemics/you-are-not-going-to-mars": {
								blurb:
									"The abusrd notion that we are going to “live on Mars” is a bauble used to distract the infants — thatʼs us — while the parasite class completes its rape and plunder of the Earth. Are we really this stupid and gullible?",
								canonical:
									"https://cantankerouscoder.com/polemics/you-are-not-going-to-mars",
								description:
									"The abusrd notion that we are going to “live on Mars” is a bauble used to distract the infants — thatʼs us — while the parasite class completes its rape and plunder of the Earth. Are we really this stupid and gullible?",
								image: { alt: "", filename: "mars", type: "image/png" },
								pubdate: "2023-04-01",
								subtitle: "Get over it.",
								title: "You are not going to Mars",
								path: "you-are-not-going-to-mars",
								url: "/polemics/you-are-not-going-to-mars",
							},
							"/privacy-policy/_qrcode": {
								path: "_qrcode",
								url: "/privacy-policy/_qrcode",
							},
							"/privacy-policy": {
								canonical: "https://cantankerouscoder.com/privacy-policy",
								description:
									"The privacy policy page for CantankerousCoder.com.",
								title: "Privacy policy",
								path: "privacy-policy",
								url: "/privacy-policy",
							},
							"/report-issues/_qrcode": {
								path: "_qrcode",
								url: "/report-issues/_qrcode",
							},
							"/report-issues/failure": {
								canonical:
									"https://cantankerouscoder.com/report-issues/failure",
								description:
									"We were unable to process your form submission because the supplied email address was missing or invalid. Please correct the address and resubmit the form. No action can be taken until this input is corrected.",
								robots: "noindex",
								title: "Form failure",
								path: "failure",
								url: "/report-issues/failure",
							},
							"/report-issues": {
								canonical: "https://cantankerouscoder.com/report-issues/",
								description:
									"The report issues page for cantankerouscoder.com.",
								title: "Report issues",
								path: "report-issues",
								url: "/report-issues",
							},
							"/report-issues/invalid-email": {
								canonical:
									"https://cantankerouscoder.com/report-issues/invalid-email",
								description:
									"We were unable to process your form submission because the supplied email address was missing or invalid. Please correct the address and resubmit the form. No action can be taken until this input is corrected.",
								robots: "noindex",
								title: "Email issue",
								path: "invalid-email",
								url: "/report-issues/invalid-email",
							},
							"/report-issues/missing-issue": {
								canonical:
									"https://cantankerouscoder.com/report-issues/missing-issue",
								description:
									"We were unable to process your form submission because no issue was found. Please explain the issue and resubmit the form. No action can be taken until an issue description is included.",
								robots: "noindex",
								title: "Missing issue",
								path: "missing-issue",
								url: "/report-issues/missing-issue",
							},
							"/report-issues/success": {
								canonical:
									"https://cantankerouscoder.com/report-issues/success",
								description:
									"Success! We have sent your issue report to the cantaᴎkeᴙous codeᴙ. No doubt, our devs will get on it right away.! Thanks much for your help.",
								robots: "noindex",
								title: "Success",
								path: "success",
								url: "/report-issues/success",
							},
							"/terms-of-use/_qrcode": {
								path: "_qrcode",
								url: "/terms-of-use/_qrcode",
							},
							"/terms-of-use": {
								canonical: "https://cantankerouscoder.com/terms-of-use",
								description: "The terms of use page for CantankerousCoder.com.",
								title: "Terms of use",
								path: "terms-of-use",
								url: "/terms-of-use",
							},
						}}
					/>
				</div>
				<p>And here is the HTML created:</p>
				<CodeBlock
					snippet={defaultExampleHtml}
					properties={{
						codeSampleType: "code snippet",
						programmingLanguage: "HTML",
					}}
				/>
			</section>
		</article>
	</main>
</Layout>
