---
import CCLicense from "../../../../src/CCLicense/index.astro";
import CodeBlock from "../../../../src/CodeBlock/index.astro";
import copyToClipboardJs from "../../../../src/CodeBlock/copyToClipboard.js?raw";
import Layout from "../_layouts/index.astro";
import TableOfContents from "../_components/TableOfContents/index.astro";
import * as typeTs from "./_assets/type.ts.md";
import * as defaultExampleHtml from "./_assets/default-example.html.md";
import * as defaultExampleAstro from "./_assets/default-example.astro.md";
import * as withDataAttrsHtml from "./_assets/with-data-attrs.html.md";
import * as withDataAttrsAstro from "./_assets/with-data-attrs.astro.md";

import * as byHtml from "./_assets/by.html.md";
import * as byAstro from "./_assets/by.astro.md";

import * as byNcHtml from "./_assets/by-nc.html.md";
import * as byNcAstro from "./_assets/by-nc.astro.md";

import * as byNdHtml from "./_assets/by-nd.html.md";
import * as byNdAstro from "./_assets/by-nd.astro.md";

import * as bySaHtml from "./_assets/by-sa.html.md";
import * as bySaAstro from "./_assets/by-sa.astro.md";

import * as byNcNdHtml from "./_assets/by-nc-nd.html.md";
import * as byNcNdAstro from "./_assets/by-nc-nd.astro.md";

import * as byNcSaHtml from "./_assets/by-nc-sa.html.md";
import * as byNcSaAstro from "./_assets/by-nc-sa.astro.md";
---

<Layout title="CCLicense">
  <Fragment slot="tail">
    <script set:html={copyToClipboardJs} />
  </Fragment>
  <main>
    <article>
      <h2>CCLicense</h2>
      <p>
        The <code>CCLicense</code> is used to add the Creative Commons license with
        link to the CC site.
      </p>
      <section id="types">
        <h3>Types</h3>
        <CodeBlock snippet={typeTs} />
        <p>
          The <code>dataset</code> prop takes a map of attribute names (minus the
          <code>data-</code>) and values and maps them to <code
            >data-&lt;name&gt;</code
          > attributes. See below.
        </p>
      </section>
      <section id="default">
        <h3>Default example</h3>
        <p>
          This is the minimum required to use the <code>CCLicense</code>. It
          defaults to a public domain dedication (CC0 1.0 Universal).
        </p>
        <CodeBlock snippet={defaultExampleAstro} />
        <p>Here is the actual component:</p>
        <div class="example">
          <CCLicense />
        </div>
        <p>
          And here is the HTML created. Rather than show the complex SVG paths,
          we've simply substituted the Astro subcomponents.
        </p>
        <CodeBlock snippet={defaultExampleHtml} />
      </section>
      <section id="size-and-dataset">
        <h3>
          With <code>size</code> and <code>dataset</code> attributes example
        </h3>
        <p>
          We can set the <code>size</code> attribute for <code>CCLicense</code>,
          include regular P attributes such as <code>style</code>, and also <code
            >data-</code
          > attributes via <code>dataset</code>. Typically, the CSS properties
          would be set in a separate theme stylesheet, but just for example:
        </p>
        <CodeBlock snippet={withDataAttrsAstro} />
        <p>Here is the actual component:</p>
        <div class="example">
          <CCLicense
            dataset={{ type: "primary" }}
            fill="cornsilk"
            size="5rem"
            stroke="forestgreen"
          />
        </div>
        <p>
          The two theme settings are <code>--sb-cc-license-fill-color</code> (default:
          white) and <code>--sb-cc-license-stroke-color</code> (default: black).
        </p>
        <p>
          And here is the HTML created. Rather than show the complex SVG paths,
          we've simply substituted the Astro subcomponents.
        </p>
        <CodeBlock snippet={withDataAttrsHtml} />
      </section>
      <section id="attribution">
        <h3>Attribution example</h3>
        <CodeBlock snippet={byAstro} />
        <p>Here is the actual component:</p>
        <div class="example">
          <CCLicense byAttribution />
        </div>
        <p>
          And here is the HTML created. Rather than show the complex SVG paths,
          we've simply substituted the Astro subcomponents.
        </p>
        <CodeBlock snippet={byHtml} />
      </section>
      <section id="attribution-non-commercial">
        <h3>Attribution-NonCommercial example</h3>
        <CodeBlock snippet={byNcAstro} />
        <p>Here is the actual component:</p>
        <div class="example">
          <CCLicense byAttribution nonCommercial />
        </div>
        <p>
          And here is the HTML created. Rather than show the complex SVG paths,
          we've simply substituted the Astro subcomponents.
        </p>
        <CodeBlock snippet={byNcHtml} />
      </section>
      <section id="attribution-no-derivatives">
        <h3>Attribution-NoDerivatives example</h3>
        <CodeBlock snippet={byNdAstro} />
        <p>Here is the actual component:</p>
        <div class="example">
          <CCLicense byAttribution noDerivatives />
        </div>
        <p>
          And here is the HTML created. Rather than show the complex SVG paths,
          we've simply substituted the Astro subcomponents.
        </p>
        <CodeBlock snippet={byNdHtml} />
      </section>
      <section id="attribution-share-alike">
        <h3>Attribution-ShareAlike example</h3>
        <CodeBlock snippet={bySaAstro} />
        <p>Here is the actual component:</p>
        <div class="example">
          <CCLicense byAttribution shareAlike />
        </div>
        <p>
          And here is the HTML created. Rather than show the complex SVG paths,
          we've simply substituted the Astro subcomponents.
        </p>
        <CodeBlock snippet={bySaHtml} />
      </section>
      <section id="attribution-non-commercial-share-alike">
        <h3>Attribution-NonCommercial-ShareAlike example</h3>
        <CodeBlock snippet={byNcSaAstro} />
        <p>Here is the actual component:</p>
        <div class="example">
          <CCLicense byAttribution nonCommercial shareAlike />
        </div>
        <p>
          And here is the HTML created. Rather than show the complex SVG paths,
          we've simply substituted the Astro subcomponents.
        </p>
        <CodeBlock snippet={byNcSaHtml} />
      </section>
      <section id="attribution-non-commercial-no-derivatives">
        <h3>Attribution-NonCommercial-ShareAlike example</h3>
        <CodeBlock snippet={byNcNdAstro} />
        <p>Here is the actual component:</p>
        <div class="example">
          <CCLicense byAttribution nonCommercial noDerivatives />
        </div>
        <p>
          And here is the HTML created. Rather than show the complex SVG paths,
          we've simply substituted the Astro subcomponents.
        </p>
        <CodeBlock snippet={byNcNdHtml} />
      </section>
    </article>
  </main>
</Layout>
