---
import generateShortId from "../../utilities/generateShortId"
import mapAttributes from "../../utilities/mapAttributes"
import DateInput from "../elements/DateInput/index.astro"
import TextInput from "../elements/TextInput/index.astro"
import TimeInput from "../elements/TimeInput/index.astro"
import TimeZoneSelect from "../elements/TimeZoneSelect/index.astro"
import type { InstantField as Props } from "../../types/form"
import type { HTMLAttributes } from "../../types/html"

const {
	["aria-live"]: live = "assertive",
	countries,
	date = "",
	dateAttrs = {},
	disabled,
	field = "instant-field",
	form,
	fractionalSeconds = "",
	fractionalSecondsAttrs = {},
	group = {},
	help = {},
	id = generateShortId(),
	label = "Timestamp",
	legend = {},
	maxDate,
	maxTime,
	message,
	minDate,
	minTime,
	name,
	outer = {},
	required,
	stepDate,
	stepTime,
	tag = {},
	time = "",
	timeAttrs = {},
	timeZone = "",
	timeZoneAttrs = {},
	useList,
} = Astro.props

const dateAttributes = mapAttributes(dateAttrs as HTMLAttributes, [
	"sb-instant-field-date",
])
const fractionalSecondsAttributes = mapAttributes(fractionalSecondsAttrs as HTMLAttributes, [
	"sb-instant-field-fractional-seconds",
])
const groupAttrs = mapAttributes(group, ["sb-group"])
const helpAttrs = mapAttributes(help, ["sb-help"])
const legendAttrs = mapAttributes(legend, ["sb-label"])
const outerAttrs = mapAttributes(outer, ["sb-field", "sb-instant-field"])
const tagAttrs = mapAttributes(tag, ["sb-label-tag"])
const timeAttributes = mapAttributes(timeAttrs as HTMLAttributes, [
	"sb-instant-field-time",
])
const timeZoneAttributes = mapAttributes(timeZoneAttrs as HTMLAttributes, [
	"sb-instant-field-time-zone",
])

const hlp = (await Astro.slots.render("message")) || message
const helpId = `${id}_help`
const lbl = (await Astro.slots.render("default")) || label
const legendId = `${id}_legend`
const req = required ? { "data-sb-required": "" } : {}
const opt = required ? {} : { "data-sb-optional": "" }
---

<fieldset
	{...outerAttrs}
	data-sb-field={field}
	{...req}
	{disabled}
	{form}
	{id}
	{name}
>
	<legend {...legendAttrs} data-sb-field-label={field} id={legendId}>
		<span
			{...tagAttrs}
			data-sb-field-label-tag={field}
			{...opt}
			set:html={lbl}
		/>
		<span
			{...helpAttrs}
			aria-live={live}
			data-sb-field-help={field}
			id={helpId}
			role="status"
			set:html={hlp}
		/>
	</legend>
	<div {...groupAttrs} data-sb-field-group={field}>
		<label data-sb-label-date={field} for={`${id}_date`}>
			<span id={`${id}_date:label`}>Date</span>
			<DateInput
				{...dateAttributes}
				data-sb-input-date={field}
				{form}
				id={`${id}_date`}
				labelledBy={`${legendId} ${id}_date:label`}
				{...maxDate ? { max: maxDate } : {}}
				{...minDate ? { min: minDate } : {}}
				name={`${name}:date`}
				{required}
				{...stepDate ? { step: stepDate } : {}}
				value={date}
			/>
		</label>
		<label data-sb-label-time={field} for={`${id}_time`}>
			<span id={`${id}_time:label`}>Time</span>
			<TimeInput
				{...timeAttributes}
				data-sb-input-time={field}
				{form}
				id={`${id}_time`}
				labelledBy={`${legendId} ${id}_time:label`}
				{...maxTime ? { max: maxTime } : {}}
				{...minTime ? { min: minTime } : {}}
				name={`${name}:time`}
				{required}
				{...stepTime ? { step: stepTime } : {}}
				value={time}
			/>
		</label>
		<label
			data-sb-label-fractional-seconds={field}
			for={`${id}_fractional-seconds`}
		>
			<span id={`${id}_fractional-seconds:label`}>Fractional seconds</span>
			<TextInput
				{...fractionalSecondsAttributes}
				data-sb-input-fractional-seconds={field}
				{form}
				id={`${id}_fractionalSeconds`}
				inputmode="numeric"
				labelledBy={`${legendId} ${id}_fractional-seconds:label`}
				name={`${name}:fractionalSeconds`}
				pattern="[0-9]{0,9}"
				value={fractionalSeconds}
			/>
		</label>
		<label data-sb-label-time-zone={field} for={`${id}_time-zone`}>
			<span id={`${id}_time-zone:label`}>Time zone</span>
			<TimeZoneSelect
				{...timeZoneAttributes}
				{countries}
				data-sb-input-time-zone={field}
				{form}
				id={`${id}_timeZone`}
				includeNull
				labelledBy={`${legendId} ${id}_time-zone:label`}
				name={`${name}:timeZone`}
				{required}
				selected={timeZone}
				{useList}
			/>
		</label>
	</div>
</fieldset>
