---
import "./script.astro"
import "./index.css"
import generateShortId from "../../utilities/generateShortId"
import mapAttributes from "../../utilities/mapAttributes"
import type { Form as Props } from "../../types/form"

const {
	action,
	autocorrect: _autocorrect,
	form: _form,
	id: form = generateShortId(),
	labelledBy,
	method = "post",
	...attrs
} = Astro.props

const formAttrs = mapAttributes(attrs, ["sb-form"])

const content = await Astro.slots.render("default", [form])
---

<form
	{...formAttrs}
	aria-labelledBy={labelledBy}
	{action}
	data-sb-form
	id={form}
	{method}
>
	<input name="_charset_" type="hidden" />
	<Fragment set:html={content} />
</form>
