---
import "./index.css"
import type { BylineProps as Props } from "../../types"
import PlainDate from "../metadata/PlainDate/index.astro"
import mapAttributes from "../../utilities/mapAttributes"

const authorFormatter = new Intl.ListFormat("en", {
  style: "long",
  type: "conjunction",
})

const { ariaLabel, as = "div", author, datePublished, ...attrs } = Astro.props

const bylineAttrs = mapAttributes(attrs, ["sb-byline"])

const Element = as

const names = Array.isArray(author) ? author : [author]

const list = author
  ? names.map(({ givenName = "", familyName = "", url }) => {
      return url
        ? `<a class="sb-author" href="${url}">${givenName} ${familyName}</a>`
        : `<span class="sb-author">${givenName} ${familyName}</span>`
    })
  : null
---

{
  author ? (
    <Element {...bylineAttrs}>
      {datePublished ? (
        <PlainDate plainDate={datePublished.slice(0, 10)} />
      ) : null}
      by
      {list ? <Fragment set:html={authorFormatter.format(list)} /> : null}
    </Element>
  ) : null
}
