---
import Microdata from "../../Microdata/index.astro"
import createMailto from "../../../utilities/createMailto"
import mapAttributes from "../../../utilities/mapAttributes"
import type { EmailProps as Props } from "../../../types"
import type { HTMLAttributes } from "../../form/html-types"

const {
  as = "span",
  dataset,
  email,
  link = {},
  mailtoOptions,
  microdata = {},
  properties,
  useMailto,
  ...attrs
} = Astro.props

const elementAttrs = mapAttributes(attrs as HTMLAttributes, ["sb-email"])
const linkAttrs = mapAttributes(link, ["sb-email-link"])

const emailAddress = (
  (await Astro.slots.render("default")) ||
  email ||
  ""
).trim()

const Element = as
const mailto = link.href ? link.href : createMailto(emailAddress, mailtoOptions)

const useMicrodata = Boolean(import.meta.env.USE_MICRODATA)
---

{
  useMicrodata ? (
    <Microdata
      {microdata}
      {properties}
    />
  ) : null
}
{
  useMailto ? (
    <a
      {...linkAttrs}
      href={mailto}
    >
      <Element {...elementAttrs}>{emailAddress}</Element>
    </a>
  ) : (
    <Element {...elementAttrs}>{emailAddress}</Element>
  )
}
 ../../form/html-types
