---
import generateShortId from "../../../../utilities/generateShortId"
import mapAttributes from "../../../../utilities/mapAttributes"
import type { HTMLAttributes } from "../../../../types/html"
import type { RadioInput as Props } from "../../../../types/form"

const {
	checked,
	field = "radio-input",
	form,
	groupLabelId,
	id = generateShortId(),
	label,
	labelledBy,
	name,
	required,
	type: _type,
	value,
	wrapper = {},
	...attrs
} = Astro.props

const inputAttrs = mapAttributes(attrs as HTMLAttributes, ["sb-radio-input"])
const wrapperAttrs = mapAttributes(wrapper, ["sb-radio-input-wrapper"])

const labelId = `${id}_label`
const lbl = (await Astro.slots.render("default")) || label
---

<label {...wrapperAttrs} data-sb-wrapper={field} id={labelId}>
	<input
		{...inputAttrs}
		aria-labelledby={`${labelledBy} ${labelId}`}
		{checked}
		data-sb-input={field}
		{form}
		{id}
		{name}
		{required}
		type="radio"
		{value}
	/>
	<Fragment set:html={lbl} />
</label>
