---
import Microdata from "../../Microdata/index.astro"
import mapAttributes from "../../../utilities/mapAttributes"
import type { UrlProps as Props } from "../../../types"
import type { HTMLAttributes } from "../../form/html-types"

const {
  as = "span",
  dataset,
  link = {},
  microdata = {},
  properties,
  url,
  useLink,
  ...attrs
} = Astro.props

const elementAttrs = mapAttributes(attrs as HTMLAttributes, ["sb-url"])
const linkAttrs = mapAttributes(link, ["sb-url-link"])

const address = ((await Astro.slots.render("default")) || url || "").trim()

const Element = as
const href = link.href || address

const useMicrodata = Boolean(import.meta.env.USE_MICRODATA)
---

{
  useMicrodata ? (
    <Microdata
      {microdata}
      {properties}
    />
  ) : null
}
{
  useLink ? (
    <a
      {...linkAttrs}
      {href}
    >
      <Element {...elementAttrs}>{address}</Element>
    </a>
  ) : (
    <Element {...elementAttrs}>{address}</Element>
  )
}
 ../../Fart/html-types
