---
import { Temporal } from "@js-temporal/polyfill";
import FieldWrapper from "../../wrappers/FieldWrapper/index.astro";
import generateShortId from "../../utilities/generateShortId";
import mapDataset from "../../utilities/mapDataset";
import PlainDateTime from "../PlainDateTime/index.astro";
import type { Calendar, DateTimeFormatOptions } from "../../types";
import type { Dataset, Messages } from "../../types";
import type { HTMLAttributes } from "astro/types";
import type { TIME_ZONE } from "../../constants";

export type Props = Omit<HTMLAttributes<"input">, "value" | "slot"> & {
  calendar?: Calendar | Temporal.Calendar | Temporal.CalendarLike;
  dataset?: Dataset;
  day?: number | string;
  help?: string;
  hour?: number | string;
  label: string;
  locale?: string | Array<string>;
  messages?: Messages;
  microsecond?: number | string;
  millisecond?: number | string;
  minute?: number | string;
  month?: number | string;
  monthCode?: string;
  name: string;
  nanosecond?: number | string;
  options?: DateTimeFormatOptions;
  readonly?: boolean;
  second?: number | string;
  timeZone?: keyof typeof TIME_ZONE;
  value?: string | Temporal.PlainDateTime | Temporal.PlainDateTimeLike;
  year?: number | string;
};

const {
  calendar,
  dataset,
  day,
  help,
  hour,
  id = `_${generateShortId()}`,
  label,
  locale,
  messages,
  microsecond,
  millisecond,
  minute,
  month,
  nanosecond,
  options,
  readonly,
  second,
  size,
  timeZone,
  value: rawValue,
  year,
  ...attrs
} = Astro.props;

const labelId = `${id}-label`;
const helpId = `${id}-help`;
const data = mapDataset(dataset);

const value = rawValue
  ? Temporal.PlainDateTime.from(rawValue)
  : Temporal.PlainDateTime.from({
      ...(day == null ? {} : { day: Number(day) }),
      ...(hour == null ? {} : { hour: Number(hour) }),
      ...(microsecond == null ? {} : { microsecond: Number(microsecond) }),
      ...(millisecond == null ? {} : { millisecond: Number(millisecond) }),
      ...(minute == null ? {} : { minute: Number(minute) }),
      ...(month == null ? {} : { month: Number(month) }),
      ...(nanosecond == null ? {} : { nanosecond: Number(nanosecond) }),
      ...(second == null ? {} : { second: Number(second) }),
      ...(year == null ? {} : { year: Number(year) }),
    });
---

<FieldWrapper
  fieldType="sb-plain-date-time"
  {...help ? { help } : {}}
  helpId={helpId}
  id={id as string}
  label={label}
  labelId={labelId}
  {...messages ? { messages } : {}}
  name={attrs.name}
  readonly={readonly}
  {...attrs.required ? { required: true } : {}}
>
  <Fragment slot="element">
    {
      readonly ? (
        <div class="readonly sb-plain-date-time-readonly">
          <PlainDateTime {...attrs} value={value} />
        </div>
      ) : (
        <input
          aria-labelledBy={`${labelId} ${helpId}`}
          class="sb-plain-date-time-input"
          {...data}
          id={id as string}
          {...attrs}
          type="datetime-local"
          value={value ? value.toJSON() : ""}
        />
      )
    }
  </Fragment>
</FieldWrapper>
