---
import createClassList from "../../../utilities/createClassList"
import createSelectOptions from "../../../utilities/createSelectOptions"
import generateShortId from "../../../utilities/generateShortId"
import getMonths from "../../../utilities/getMonths"
import mapAttributes from "../../../utilities/mapAttributes"
import mapDataset from "../../../utilities/mapDataset"
import type { MonthFormat, MonthSelect as Props } from "../../../types/form"
import { DEFAULT_LOCALES } from "../../../constants"

const {
	autocomplete,
	calendar = "iso8601",
	["class:list"]: elementClassList = [],
	dataset: elementDataset = {},
	field = "month-select",
	form,
	format = "long",
	id = generateShortId(),
	includeNull,
	labelledBy,
	locales = DEFAULT_LOCALES,
	months,
	name = "month",
	required,
	selected,
	wrapper = {},
	...attrs
} = Astro.props

const {
	["class:list"]: wrapperClassList = [],
	dataset: wrapperDataset = {},
	...wrapperAttrs
} = wrapper

const mnths = getMonths(
	calendar as string,
	locales as Array<string>,
	format as MonthFormat,
	months
)
---

<span
	{...wrapperAttrs}
	class:list={createClassList("sb-input-wrapper", wrapperClassList)}
	{...mapDataset(wrapperDataset)}
	data-sb-wrapper={field}
>
	<select
		{...attrs}
		{autocomplete}
		aria-labelledby={labelledBy}
		class:list={createClassList("sb-month-select", elementClassList)}
		{...mapDataset(elementDataset)}
		data-sb-select={field}
		{id}
		{form}
		{name}
		{required}
	>
		{includeNull ? <option /> : null}
		<Fragment set:html={createSelectOptions(mnths, selected)} />
	</select>
</span>
