---
import type { Honeypot as Props } from "../../types/form"

const {
	cLabel = "Put nothing in this field as well:",
	confirmation,
	form,
	password,
	pwLabel = "Leave this field as is:",
} = Astro.props
---

<fieldset class="off-screen">
	<legend>Ignore these fields please</legend>
	<div class="off-screen">
		<label for="p1-field" id="p1-field-label">{pwLabel}</label>
		<input
			aria-labelledby="p1-field-label"
			autocomplete="off"
			{form}
			id="p1-field"
			name="password"
			placeholder="Skip this!"
			tabindex="-1"
			type="password"
			value={password}
		/>
	</div>
	<div class="off-screen">
		<label for="p2-field" id="p2-field-label">
			{cLabel}
		</label>
		<input
			aria-labelledby="p2-field-label"
			autocomplete="off"
			{form}
			id="p2-field"
			name="confirmation"
			placeholder="Skip this, too!"
			tabindex="-1"
			type="password"
			value={confirmation}
		/>
	</div>
</fieldset>
