---
import type { HeadProps as Props } from "../../types"

const {
  canonicalSite,
  charset = "utf-8",
  description,
  metadata = {},
  viewport = "width=device-width, initial-scale=1",
} = Astro.props

const { pathname } = Astro.url

const canonicalUrl = `${canonicalSite}${pathname}`

const pageTitle = metadata.pageTitle || metadata.title

const next = metadata.next ? `${canonicalSite}${metadata.next}` : undefined
const prev = metadata.prev ? `${canonicalSite}${metadata.prev}` : undefined
---

<head>
  <meta charset={charset} />
  <meta
    content={viewport}
    name="viewport"
  />
  <title>{pageTitle}</title>
  {
    description ? (
      <meta
        name="description"
        content={description}
      />
    ) : null
  }
  {
    metadata.robots ? (
      <meta
        name="robots"
        content={metadata.robots}
      />
    ) : null
  }
  {
    metadata.author ? (
      <meta
        name="author"
        content={metadata.author}
      />
    ) : null
  }
  {
    canonicalUrl ? (
      <link
        rel="canonical"
        href={canonicalUrl}
      />
    ) : null
  }
  {
    prev ? (
      <meta
        name="prev"
        content={prev}
      />
    ) : null
  }
  {
    next ? (
      <meta
        name="next"
        content={next}
      />
    ) : null
  }
  <slot />
</head>
