---
import "./index.css"
import mapAttributes from "../../../utilities/mapAttributes"
import CheckboxInput from "../elements/CheckboxInput/index.astro"
import generateShortId from "../../../utilities/generateShortId"
import type { BooleanField as Props } from "../../../types/form"

const {
	autocorrect: _autocorrect,
	checked,
	field = "boolean-field",
	form,
	id = generateShortId(),
	label,
	name,
	placeholder: _placeholder,
	required,
	value,
	wrapper = {},
} = Astro.props

const wrapperAttrs = mapAttributes(wrapper, ["sb-field"])
---

<div {...wrapperAttrs}>
	<CheckboxInput
		{checked}
		{field}
		{form}
		{id}
		{label}
		{name}
		{required}
		{value}
		{wrapper}
	/>
</div>
