---
import type { WebPage } from "../../../../src/types/schema.org"
import baseCss from "./_styles/base.css?raw"
import codeCss from "./_styles/code.css?raw"
import resetCss from "./_styles/reset.css?raw"
import themeCss from "./_styles/theme.css?raw"
import Body from "../../../../src/Body/index.astro"
import Head from "../../../../src/Head/index.astro"
import Html from "../../../../src/Html/index.astro"
import CCLicense from "../../../../src/CCLicense/index.astro"
import Footer from "../../../../src/Footer/index.astro"
import Header from "../../../../src/Header/index.astro"
import Nav from "../_components/Nav/index.astro"
import siteProperties from "./siteProperties"
import defaultPageProperties from "./pageProperties"

export type Props = {
	pageProperties?: Partial<WebPage>
}

const { pageProperties } = Astro.props

const { pathname } = Astro.url

const siteName = "@sitebender/components"
---

<!DOCTYPE html>
<Html>
	<Head site={siteName} title={pageProperties?.alternateName as string}>
		<style media="screen" set:html={resetCss}></style>
		<style media="screen" set:html={themeCss}></style>
		<style media="screen" set:html={baseCss}></style>
		<style media="screen" set:html={codeCss}></style>

		<slot name="head" />
	</Head>
	<Body
		pageProperties={{ ...defaultPageProperties, ...pageProperties }}
		siteProperties={siteProperties}
	>
		<Header>
			<h1 class="logo">
				{
					pathname === "/" ? (
						<span>{siteName}</span>
					) : (
						<a href="/">{siteName}</a>
					)
				}
			</h1>
		</Header>
		<Nav />
		<slot />
		<Footer>
			<CCLicense byAttribution nonCommercial shareAlike />
		</Footer>
		<slot name="tail" />
	</Body>
</Html>
../../../../src/types/schema.org
