---
import Microdata from "../../Microdata/index.astro";
import createClassList from "../../utilities/createClassList";
import mapAttributes from "../../utilities/mapAttributes"
import mapDataset from "../../utilities/mapDataset";
import type { UrlProps as Props } from "../../types";

const {
	as = "span",
	["class:list"]: classList = [],
	dataset,
	link = {},
	microdata = {},
	properties,
	url,
	useLink,
	...attrs
} = Astro.props;

const address = (
	(await Astro.slots.render("default")) ||
	url ||
	""
).trim();

const {
	["class:list"]: linkClassList = [],
	dataset: linkDataset = {},
	...linkAttrs
} = link;

const Element = as;
const href = link.href || address;

const useMicrodata = Boolean(import.meta.env.USE_MICRODATA);
---

{useMicrodata ? <Microdata {microdata} {properties} /> : null}
{
	useLink ? (
		<a
			{...linkAttrs}
			class:list={createClassList("sb-url-link", linkClassList)}
			{...mapDataset(linkDataset)}
			data-sb-url="link"
			{href}
		>
			<Element
				{...attrs}
				class:list={createClassList("sb-url", classList)}
				{...mapDataset(dataset)}
				data-sb-url
			>
				{address}
			</Element>
		</a>
	) : (
		<Element
			{...attrs}
			class:list={createClassList("sb-url", classList)}
			{...mapDataset(dataset)}
			data-sb-url
		>
			{address}
		</Element>
	)
}
