---
import Microdata from "../Microdata/index.astro"
import type { LinkProps as Props } from "../types"
import mapAttributes from "../utilities/mapAttributes"

const {
	href,
	label,
	properties = {},
	...attrs
} = Astro.props

const wrapperAttrs = mapAttributes(attrs, ["sb-link"])

const lbl = (await Astro.slots.render("default")) || label

const meta = {
	type: "SiteNavigationElement",
	url: href,
	name: label,
	...properties,
}

const useMicrodata = Boolean(import.meta.env.USE_MICRODATA)
---

{
	useMicrodata ?
		<Microdata
			{...wrapperAttrs}
			as="a"
			{href}
			properties={meta}
		>
			{lbl}
		</Microdata>
	: <a
			{...wrapperAttrs}
			{href}
		>
			{lbl}
		</a>
}
