---
import mapAttributes from "../../../utilities/mapAttributes"
import type { FieldsetWrapper as Props } from "../../../types/form"

const {
	disabled,
	field,
	form,
	group = {},
	help = {},
	id,
	label,
	legend = {},
	message,
	name,
	outer = {},
	required,
	tag = {},
} = Astro.props

const groupAttrs = mapAttributes(group, ["sb-group"])
const helpAttrs = mapAttributes(help, ["sb-help"])
const legendAttrs = mapAttributes(legend, ["sb-label"])
const outerAttrs = mapAttributes(
	outer,
	required
		? ["sb-fieldset", `sb-${field}`, "sb-required"]
		: ["sb-fieldset", `sb-${field}`],
)
const tagAttrs = mapAttributes(
	tag,
	required ? ["sb-label-tag"] : ["sb-label-tag", "sb-optional"],
)

const hlp = (await Astro.slots.render("message")) || message
const helpId = `${id}_help`
const lbl = (await Astro.slots.render("label")) || label
const labelId = `${id}_label_tag`
const labelledBy = `${labelId} ${helpId}`
const legendId = `${id}_legend`

const element = await Astro.slots.render("default", [labelledBy])
---

<fieldset
	{...outerAttrs}
	{disabled}
	{form}
	{name}
>
	<legend
		{...legendAttrs}
		id={legendId}
	>
		<span
			{...tagAttrs}
			id={labelId}
			set:html={lbl}
		/>
		<span
			aria-live="assertive"
			{...helpAttrs}
			id={helpId}
			role="status"
			set:html={hlp}
		/>
	</legend>
	<div {...groupAttrs}>
		<Fragment set:html={element} />
	</div>
</fieldset>
