---
import "./index.css"
import type { Carbon as Props } from "../../types"

const { beacon, webCarbon } = Astro.props
---

<article
  class="sb-carbon-check"
  aria-labelledby="sb-carbon-check"
>
  <h2
    id="sb-carbon-check"
    class="sb-sr-only"
  >
    Carbon emissions for this page
  </h2>
  <div class="sb-carbon-percentage">
    Cleaner than {webCarbon?.percentage}% of pages tested
  </div>
  <div class="sb-carbon-count">
    <span class="sb-count"
      >{webCarbon?.count}g of <span aria-label="carbon dioxide per view"
        >CO<sub>2</sub>/view</span
      ></span
    >
    {
      webCarbon?.href ? (
        <a
          class="sb-carbon-logo"
          href={webCarbon.href}
          rel="external"
        >
          Website Carbon
        </a>
      ) : (
        <span class="sb-carbon-logo">Website Carbon</span>
      )
    }
  </div>
  {
    beacon ? (
      <div class="sb-carbon-count">
        <span class="sb-count">
          {beacon.firstCarbon?.toFixed(3)}g &rarr;
          {beacon.repeatCarbon?.toFixed(3)}g
        </span>
        {beacon.href ? (
          <a
            class="sb-carbon-logo"
            href={beacon.href}
            rel="external"
          >
            Beacon: <strong>{beacon.grade}</strong>
          </a>
        ) : (
          <span class="sb-carbon-logo">
            Beacon: <strong>{beacon.grade}</strong>
          </span>
        )}
      </div>
    ) : null
  }
</article>
