---
import createListOptions from "../../../../utilities/createListOptions"
import generateShortId from "../../../../utilities/generateShortId"
import mapAttributes from "../../../../utilities/mapAttributes"
import type { TimeInput as Props } from "../../../../types/form"
import type { HTMLAttributes } from "../../../../types/html"

const {
	autocomplete,
	datalist,
	field = "time-input",
	form,
	id = generateShortId(),
	inputmode = "numeric",
	labelledBy,
	list,
	name,
	required,
	value,
	wrapper = {},
	...attrs
} = Astro.props

const datalistAttrs = mapAttributes(datalist, ["sb-datalist"])
const inputAttrs = mapAttributes(attrs as HTMLAttributes, ["sb-time-input"])
const wrapperAttrs = mapAttributes(wrapper, ["sb-time-input-wrapper"])

const listId = `${id}_list`
const lst = list ? { list: listId } : {}
---

<span {...wrapperAttrs}>
	<input
		{...inputAttrs}
		aria-labelledby={labelledBy}
		{autocomplete}
		{form}
		{id}
		{inputmode}
		{...lst}
		{name}
		{required}
		type="time"
		{value}
	/>
	{
		list ? (
			<datalist
				{...datalistAttrs}
				id={listId}
			>
				<Fragment set:html={createListOptions(list)} />
			</datalist>
		) : null
	}
</span>
