---
import "./index.css"
import mapAttributes from "../../../utilities/mapAttributes"
import type { FieldsetWrapper as Props } from "../../../types/form"
import generateShortId from "../../../utilities/generateShortId"

const {
  disabled,
  group = {},
  hideClass = "sb-sr-only",
  id = generateShortId(),
  label,
  legend = {},
  outer = {},
} = Astro.props

const groupAttrs = mapAttributes(group, ["sb-group"])
const legendAttrs = mapAttributes(legend, ["sb-label", hideClass as string])
const outerAttrs = mapAttributes(outer, ["sb-button-bar"])

const lbl = (await Astro.slots.render("label")) || label || "Button bar"
const labelledBy = `${id}_legend`

const element = await Astro.slots.render("default", [labelledBy])
---

<fieldset
  {...outerAttrs}
  {disabled}
>
  {
    lbl ? (
      <legend
        {...legendAttrs}
        id={labelledBy}
        set:html={lbl}
      />
    ) : null
  }
  <div
    {...groupAttrs}
    aria-live="polite"
  >
    <Fragment set:html={element} />
  </div>
</fieldset>
