---
import createListOptions from "../../../../utilities/createListOptions"
import generateShortId from "../../../../utilities/generateShortId"
import mapAttributes from "../../../../utilities/mapAttributes"
import type { TextInput as Props } from "../../../../types/form"
import type { HTMLAttributes } from "../../../../types/html"

const {
	autocomplete,
	autocorrect: _autocorrect,
	datalist = {},
	field = "url-input",
	form,
	id = generateShortId(),
	labelledBy,
	list,
	name,
	placeholder: _placeholder,
	required,
	type: _type,
	value,
	wrapper = {},
	...attrs
} = Astro.props

const datalistAttrs = mapAttributes(datalist, ["sb-datalist"])
const inputAttrs = mapAttributes(attrs as HTMLAttributes, ["sb-url-input"])
const wrapperAttrs = mapAttributes(wrapper, ["sb-url-input-wrapper"])

const listId = `${id}_list`
const lst = list ? { list: listId } : {}
---

<span {...wrapperAttrs}>
	<input
		{...inputAttrs}
		aria-labelledby={labelledBy}
		{autocomplete}
		{form}
		{id}
		{...lst}
		{name}
		{required}
		type="url"
		{value}
	/>
	{
		list ? (
			<datalist {...datalistAttrs} id={listId}>
				<Fragment set:html={createListOptions(list)} />
			</datalist>
		) : null
	}
</span>
