---
import createSelectOptions from "../../../../utilities/createSelectOptions"
import generateShortId from "../../../../utilities/generateShortId"
import getMonths from "../../../../utilities/getMonths"
import mapAttributes from "../../../../utilities/mapAttributes"
import type { MonthFormat, MonthSelect as Props } from "../../../../types/form"
import type { HTMLAttributes } from "../../../../types/html"
import { DEFAULT_LOCALES } from "../../../../constants"

const {
	autocomplete,
	calendar = "iso8601",
	field = "month-select",
	form,
	format = "long",
	id = generateShortId(),
	includeNull,
	labelledBy,
	locales = DEFAULT_LOCALES,
	months,
	name = "month",
	required,
	selected,
	wrapper = {},
	...attrs
} = Astro.props

const selectAttrs = mapAttributes(attrs as HTMLAttributes, ["sb-month-select"])
const wrapperAttrs = mapAttributes(wrapper, ["sb-month-select-wrapper"])

const mnths = getMonths(
	calendar as string,
	locales as Array<string>,
	format as MonthFormat,
	months as Array<number>
)
---

<span {...wrapperAttrs}>
	<select
		{...selectAttrs}
		{autocomplete}
		aria-labelledby={labelledBy}
		{id}
		{form}
		{name}
		{required}
	>
		{includeNull ? <option /> : null}
		<Fragment set:html={createSelectOptions(mnths, selected)} />
	</select>
</span>
