---
import createSelectOptions from "../../../utilities/createSelectOptions"
import generateShortId from "../../../utilities/generateShortId"
import mapAttributes from "../../../utilities/mapAttributes"
import type { Select as Props } from "../../../types/form"
import type { HTMLAttributes } from "../../../types/html"

const {
	autocomplete,
	field = "select",
	form,
	id = generateShortId(),
	includeNull,
	labelledBy,
	name,
	options = [],
	required,
	selected,
	wrapper = {},
	...attrs
} = Astro.props

const selectAttrs = mapAttributes(attrs as HTMLAttributes, ["sb-select"])
const wrapperAttrs = mapAttributes(wrapper, ["sb-select-wrapper"])

const opts = await Astro.slots.render("default")
---

<span {...wrapperAttrs}>
	<select
		{...selectAttrs}
		{autocomplete}
		aria-labelledby={labelledBy}
		{form}
		{id}
		{name}
		{required}
	>
		{includeNull ? <option /> : null}
		{
			opts ? (
				opts
			) : (
				<Fragment
					set:html={createSelectOptions(options, selected as string | number)}
				/>
			)
		}
	</select>
</span>
