---
import "./index.css"
import Button from "../Form/Button/index.astro"
import ButtonBar from "../Form/ButtonBar/index.astro"
import Form from "../Form/index.astro"
import Fieldset from "../Form/Fieldset/index.astro"
import EmailField from "../Form/EmailField/index.astro"
import mapAttributes from "../../utilities/mapAttributes"
import type { Form as Props } from "../../types/form"
import generateShortId from "../../utilities/generateShortId"

const {
  action = "/api/subscribe",
  method = "post",
  name = "subscribeForm",
  ...attrs
} = Astro.props

const formAttrs = mapAttributes(attrs, ["sb-form", "sb-subscribe-form"])

const legendId = generateShortId()
---

<Form
  {...formAttrs}
  aria-labelledby={legendId}
  {action}
  {method}
  {name}
>
  {
    ({ form }: { form: string }) => (
      <>
        <Fieldset
          label="Get notified"
          {legendId}
        >
          <EmailField
            {form}
            label="Your email address"
            message="Where you want notifications sent."
            name="email"
            required
            size={32}
            value=""
          />
        </Fieldset>
        <ButtonBar {form}>
          <Button
            {form}
            type="submit"
          >
            Get notified
          </Button>
        </ButtonBar>
      </>
    )
  }
</Form>
 ../form/Button/index.astro../form/ButtonBar/index.astro../form/index.astro../form/Fieldset/index.astro../form/EmailField/index.astro

