---
import Number from "../../../../src/metadata/Number/index.astro";
import CodeBlock from "../../../../src/CodeBlock/index.astro";
import copyToClipboardJs from "../../../../src/CodeBlock/copyToClipboard.js?raw";
import Layout from "../_layouts/index.astro";
import TableOfContents from "../_components/TableOfContents/index.astro";
import * as typeTs from "./_assets/type.ts.md";
import * as defaultExampleHtml from "./_assets/default-example.html.md";
import * as defaultExampleAstro from "./_assets/default-example.astro.md";
import * as withDataAttrsHtml from "./_assets/with-data-attrs.html.md";
import * as withDataAttrsAstro from "./_assets/with-data-attrs.astro.md";
import * as tabularNumbersHtml from "./_assets/tabular-numbers.html.md";
import * as tabularNumbersAstro from "./_assets/tabular-numbers.astro.md";
import * as currencyHtml from "./_assets/currency.html.md";
import * as currencyAstro from "./_assets/currency.astro.md";
---

<Layout title="Number">
  <Fragment slot="tail">
    <script set:html={copyToClipboardJs} />
  </Fragment>
  <main>
    <article>
      <h2>Number</h2>
      <ol class="page-contents">
        <li><a href="#default">Default example</a></li>
        <li>
          <a href="#dataset"
            >Example with HTML and <code>id</code> and <code>data-</code> attributes</a
          >
        </li>
        <li><a href="#tabular-numbers">Tabular numbers example</a></li>
      </ol>
      <p>
        The <code>Number</code> is used to mark up number.
      </p>
      <section id="default">
        <h3>Types</h3>
        <CodeBlock snippet={typeTs} />
        <p>
          The <code>dataset</code> prop takes a map of attribute names (minus the
          <code>data-</code>) and values and maps them to <code
            >data-&lt;name&gt;</code
          > attributes. See below.
        </p>
      </section>
      <section>
        <h3>Default example</h3>
        <p>This is the minimum required to use the <code>Number</code>:</p>
        <CodeBlock snippet={defaultExampleAstro} />
        <p>Here is the actual component:</p>
        <p class="example">
          <Number value="42" />
        </p>
        <p>And here is the HTML created:</p>
        <CodeBlock snippet={defaultExampleHtml} />
      </section>
      <section id="dataset">
        <h3>
          Example with HTML and <code>id</code> and <code>data-</code> attributes
        </h3>
        <p>
          We can also include data- attributes (and all normal HTML attributes
          for the input element, such as an <code>id</code>). To include HTML
          such as the <code>em</code> element, avoid the <code>value</code> prop
          and pass the value in as the content of the <code>Number</code> component.
        </p>
        <CodeBlock snippet={withDataAttrsAstro} />
        <p>
          The <code>dataset</code> key-value pairs are whatever you want them to
          be.
        </p>
        <p>Here is the actual component:</p>
        <p class="example">
          <Number
            dataset={{
              type: "work",
            }}
            id="bobs-number"
          >
            <em>42</em>
          </Number>
          <p>And here is the HTML created:</p>
          <CodeBlock snippet={withDataAttrsHtml} />
          <p>
            Note that HTML attributes will be added to the <code>a</code> element
            if an <code>href</code> attribute is included; otherwise, they will be
            added to the <code>span</code> element.
          </p>
        </p>
      </section>
      <section id="tabular-numbers">
        <h3>Tabular numbers example</h3>
        <p>
          We can use the <code>useTabularNumerals</code> flag to force the use of
          tabular numerals (same height and width). When using the underscore, the
          <code>value</code> attribute must be used and <code>value</code> must be
          a number, not a string. Otherwise, a string is acceptable.
        </p>
        <CodeBlock snippet={tabularNumbersAstro} />
        <p>Here is the actual component:</p>
        <p class="example">
          <Number useTabularNumerals value={123_456_789} />
        </p>
        <p>And here is the HTML created:</p>
        <CodeBlock snippet={tabularNumbersHtml} />
      </section>
      <section id="tabular-numbers">
        <h3>Currency example</h3>
        <p>In Euros in France.</p>
        <CodeBlock snippet={currencyAstro} />
        <p>Here is the actual component:</p>
        <p class="example">
          <Number
            locale="en-US"
            options={{
              currency: "USD",
              style: "currency",
            }}
            useTabularNumerals
            value={123_456_789.99}
          />
        </p>
        <p>And here is the HTML created:</p>
        <CodeBlock snippet={currencyHtml} />
      </section>
    </article>
  </main>
</Layout>
