---
import createListOptions from "../../../utilities/createListOptions"
import generateShortId from "../../../utilities/generateShortId"
import mapAttributes from "../../../utilities/mapAttributes"
import type { NumberInput as Props } from "../../../types/form"
import type { HTMLAttributes } from "../../../types/html"

const {
	autocomplete,
	autocorrect: _autocorrect,
	datalist = {},
	field = "number-input",
	form,
	id = generateShortId(),
	isInteger,
	labelledBy,
	list,
	name,
	placeholder: _placeholder,
	required,
	step: stp,
	type: _type,
	value,
	wrapper = {},
	...attrs
} = Astro.props

const datalistAttrs = mapAttributes(datalist, ["sb-datalist"])
const inputAttrs = mapAttributes(attrs as HTMLAttributes, ["sb-number-input"])
const wrapperAttrs = mapAttributes(wrapper, ["sb-number-input-wrapper"])

const listId = `${id}_list`
const lst = list ? { list: listId } : {}
const step = isInteger ? parseInt(String(stp), 10) || 1 : stp
---

<span {...wrapperAttrs}>
	<input
		{...inputAttrs}
		aria-labelledby={labelledBy}
		{autocomplete}
		{form}
		{id}
		{...lst}
		{name}
		{required}
		{step}
		type="number"
		{value}
	/>
	{
		list ? (
			<datalist {...datalistAttrs} id={listId}>
				<Fragment set:html={createListOptions(list)} />
			</datalist>
		) : null
	}
</span>
