---
import createClassList from "../../utilities/createClassList";
import mapAttributes from "../../utilities/mapAttributes"
import mapDataset from "../../utilities/mapDataset";
import Microdata from "../../Microdata/index.astro";
import type { StringProps as Props } from "../../types";

const {
	as = "span",
  ["class:list"]: classList = [],
  dataset,
	link = {},
	microdata = {},
  properties = {},
  value,
  ...attrs
} = Astro.props;

const text = (
	(await Astro.slots.render("default")) ||
	value ||
	""
).trim();

const {
	["class:list"]: linkClassList = [],
	dataset: linkDataset = {},
	href,
	...linkAttrs
} = link;

const Element = as;

const useMicrodata = Boolean(import.meta.env.USE_MICRODATA);
---


{useMicrodata ? <Microdata {microdata} {properties} /> : null}
{
	href ? (
		<a
			{...linkAttrs}
			class:list={createClassList("sb-string-link", linkClassList)}
			{...mapDataset(linkDataset)}
			data-sb-string="link"
			{href}
		>
			<Element
				{...attrs}
				class:list={createClassList("sb-string", classList)}
				{...mapDataset(dataset)}
				data-sb-string
			>
				{text}
			</Element>
		</a>
	) : (
		<Element
			{...attrs}
			class:list={createClassList("sb-string", classList)}
			{...mapDataset(dataset)}
			data-sb-string
		>
			{text}
		</Element>
	)
}
