---
import RadioGroup from "../elements/RadioGroup/index.astro";
import Select from "../elements/Select/index.astro";
import createClassList from "../../utilities/createClassList";
import generateShortId from "../../utilities/generateShortId";
import mapDataset from "../../utilities/mapDataset";
import type { MemberField as Props, RadioGroupOption } from "../../types/form";
import { MEMBER_FIELD_PIVOT } from "../../constants";

const {
	["aria-live"]: live = "assertive",
	field = "member-field",
	form,
	group = {},
	help = {},
	id = generateShortId(),
	includeNull,
	label: lbl,
	legend = {},
	message: msg,
	name,
	options = [],
	outer = {},
	required,
	selected,
	tag = {},
	wrapper = {},
	...attrs
} = Astro.props;

function getOptionsCount(opts: Array<RadioGroupOption>): number {
	return opts.reduce(
		(acc, opt) => acc + (opt.options?.length ? opt.options.length + 1 : 1),
		0
	);
}

const {
	["class:list"]: helpClassList = [],
	dataset: helpDataset,
	...helpAttrs
} = help as BaseAttributes;

const {
	["class:list"]: legendClassList = [],
	dataset: legendDataset,
	...legendAttrs
} = legend as BaseAttributes;

const {
	["class:list"]: outerClassList = [],
	dataset: outerDataset,
	...outerAttrs
} = outer as BaseAttributes;

const {
	["class:list"]: tagClassList = [],
	dataset: tagDataset,
	...tagAttrs
} = tag as BaseAttributes;

const message = (await Astro.slots.render("message")) || msg;
const helpId = `${id}_help`;
const label = (await Astro.slots.render("default")) || lbl;
const legendId = `${id}_legend`;
const req = required ? { "data-sb-required": "" } : {};
const opt = required ? {} : { "data-sb-optional": "" };
const count = getOptionsCount(options);
const LIMIT = import.meta.env.MEMBER_FIELD_PIVOT || MEMBER_FIELD_PIVOT;
---

{
	count > LIMIT ? (
		<div
			{...outerAttrs}
			class:list={createClassList(
				"sb-field",
				"sb-member-field",
				outerClassList
			)}
			{...mapDataset(outerDataset)}
			data-sb-field={field}
			{...req}
		>
			<label
				{...legendAttrs}
				class:list={createClassList("sb-label", legendClassList)}
				{...mapDataset(legendDataset)}
				data-sb-field-label={field}
				id={legendId}
			>
				<span
					{...tagAttrs}
					class:list={createClassList("sb-label-tag", tagClassList)}
					{...mapDataset(tagDataset)}
					data-sb-field-label-tag={field}
					{...opt}
					set:html={lbl}
				/>
				<span
					{...helpAttrs}
					aria-live={live}
					class:list={createClassList("sb-help", helpClassList)}
					{...mapDataset(helpDataset)}
					data-sb-field-help={field}
					id={helpId}
					role="status"
					set:html={message}
				/>
			</label>
			<Select
				{...attrs}
				{form}
				{id}
				{includeNull}
				{name}
				{options}
				{selected}
			/>
		</div>
	) : (
		<RadioGroup
			{...attrs}
			{form}
			{group}
			{help}
			{id}
			{includeNull}
			{legend}
			{name}
			{options}
			{required}
			{selected}
			{wrapper}
		>
			<Fragment set:html={label} />
			<Fragment set:html={message} slot="message" />
		</RadioGroup>
	)
}
