---
import createClassList from "../../../utilities/createClassList"
import generateShortId from "../../../utilities/generateShortId"
import mapAttributes from "../../../utilities/mapAttributes"
import mapDataset from "../../../utilities/mapDataset"
import type { DateInput as Props } from "../../../types/form"

const {
	autocomplete,
	["class:list"]: elementClassList = [],
	dataset: elementDataset = {},
	field = "date-input",
	form,
	id = generateShortId(),
	labelledBy,
	name,
	required,
	value,
	wrapper = {},
	...attrs
} = Astro.props

const {
	["class:list"]: wrapperClassList = [],
	dataset: wrapperDataset = {},
	...wrapperAttrs
} = wrapper
---

<span
	{...wrapperAttrs}
	class:list={createClassList("sb-input-wrapper", wrapperClassList)}
	{...mapDataset(wrapperDataset)}
	data-sb-wrapper={field}
>
	<input
		{...attrs}
		aria-labelledby={labelledBy}
		{autocomplete}
		class:list={createClassList("sb-date-input", elementClassList)}
		{...mapDataset(elementDataset)}
		data-sb-input={field}
		{form}
		{id}
		{name}
		{required}
		type="date"
		{value}
	/>
</span>
