---
import Microdata from "../../../../../src/Microdata/index.astro";

const pages = (await Astro.glob("/src/pages/*/index.astro"))
  .map(({ description, title, url }) => {
    const path = url?.split("/")[1];
    const label = title
      ? title
      : path
          ?.split("-")
          .map(
            ([upper, ...lower]) =>
              `${upper?.toLocaleUpperCase()}${lower.join("")}`
          )
          .join("");

    return {
      description,
      label,
      path,
    };
  })
  .filter((item) => !item?.path?.startsWith("_"));

const useMicrodata = Boolean(import.meta.env.USE_MICRODATA);

const { origin } = Astro.url;
---

<ul class="toc">
  {
    pages.map(({ description, label, path }) => {
      const meta = {
        ...(description ? { description } : {}),
        name: label,
        type: "SiteNavigationElement",
        url: `${origin}/${path}`,
      };

      return (
        <li>
          {useMicrodata ? <Microdata as="span" properties={meta} /> : null}
          <a href={`/${path}`}>{label}</a>
        </li>
      );
    })
  }
</ul>
