---
import NavList from "./NavList/index.astro"
import Microdata from "../Microdata/index.astro"
import generateShortId from "../utilities/generateShortId"
import mapAttributes from "../utilities/mapAttributes"
import type { NavProps as Props } from "../types"

const {
	hideClass,
	id,
	nav = {},
	properties,
	...attrs
} = Astro.props

const wrapperAttrs = mapAttributes(attrs, ["sb-nav"])

const labelledBy = id || generateShortId()

const useMicrodata = Boolean(import.meta.env.USE_MICRODATA)
---

{
	useMicrodata ? (
		<Microdata
			{...wrapperAttrs}
			aria-labelledby={labelledBy}
			as="nav"
			data-sb-nav
			{properties}
		>
			<NavList {...nav} {hideClass} />
		</Microdata>
	) : (
		<nav
			{...wrapperAttrs}
			aria-labelledby={labelledBy}
			data-sb-nav
		>
			<NavList {...nav} {hideClass} />
		</nav>
	)
}

