---
import NavList from "./NavList/index.astro"
import Microdata from "../Microdata/index.astro"
import generateShortId from "../../utilities/generateShortId"
import mapAttributes from "../../utilities/mapAttributes"
import type { NavProps as Props } from "../../types"

const {
	hideClass,
	id = generateShortId(),
	links,
	nav = {},
	properties,
	...attrs
} = Astro.props

const wrapperAttrs = mapAttributes(attrs, ["sb-nav"])

const useMicrodata = Boolean(import.meta.env.USE_MICRODATA)
---

{
	useMicrodata ? (
		<Microdata {...wrapperAttrs} aria-labelledby={id} as="nav" {properties}>
			<NavList {...nav} {id} {links} {hideClass} />
		</Microdata>
	) : (
		<nav {...wrapperAttrs} aria-labelledby={id}>
			<NavList {...nav} {id} {links} {hideClass} />
		</nav>
	)
}
<style>
	nav.sb-nav a {
		color: var(--sb-color-blue-tinted, #a3d3f5);
		text-decoration: none;
	}

	.sb-nav-list {
		margin: 0;
	}
</style>
