---
import "./index.css"
import generateShortId from "../../utilities/generateShortId"

export type Props = {
	id?: string | undefined | null
	title?: string | undefined | null
}

const { id = generateShortId(), title } = Astro.props

const summaryId = `${id}-summary`

const summary = (await Astro.slots.render("summary")) || title
---

<details
	class="sb-accordion"
	{id}
>
	<summary
		class="sb-accordion-summary"
		id={summaryId}
		set:html={summary}
	/>
	<div
		aria-labelledby={summaryId}
		class="sb-accordion-content"
	>
		<slot />
	</div>
</details>
