---
import "./index.css"
import Items from "./Items/index.astro"
import mapAttributes from "../../utilities/mapAttributes"
import type { PaginatorProps as Props } from "../../types"

const { pathname } = Astro.url

const {
	header = {},
	hideClass = "sb-off-screen",
	labelledBy,
	level = 2,
	list,
	nav,
	pages,
	title = "Pagination links",
	type = "ul",
} = Astro.props

const headerAttrs = mapAttributes(header, ["sb-paginator-header", hideClass])
const listAttrs = mapAttributes(list, ["sb-paginator-list"])
const navAttrs = mapAttributes(nav, ["sb-paginator"])

const path = pathname.replace(/\/$/, "")
const parent = path.slice(0, path.lastIndexOf("/"))
const parentPage = parent ? pages[parent] : undefined
const page = path.slice(path.lastIndexOf("/") + 1)
const children = parentPage?.children || []

const HElement = `h${level}`
const ListElement = type
---

{
	children.length > 1 ? (
		<nav aria-label="pagination" {...navAttrs}>
			<HElement {...headerAttrs} id={labelledBy}>
				{title}
			</HElement>

			<ListElement {...listAttrs}>
				<Items {children} {page} {pages} {parent} />
			</ListElement>
		</nav>
	) : null
}
