---
import type { HTMLAttributes } from "../../../../types/html"
import type { NumberSubfield as Props } from "../../../../types/form"
import mapAttributes from "../../../../utilities/mapAttributes"

const {
	disabled,
	field,
	form,
	id: parentId,
	label,
	labelledBy,
	outer = {},
	parent,
	name,
	size = 4,
	step = 1,
	tag = {},
	value,
	...attrs
} = Astro.props

const elemAttrs = mapAttributes(attrs as HTMLAttributes, [`sb-input-${name}`])
const outerAttrs = mapAttributes(outer, [`sb-label-${name}`])
const tagAttrs = mapAttributes(tag, [`sb-label-tag-${name}`])

const id = `${parentId}_${name}`
---

<label {...outerAttrs} for={id}>
	<span {...tagAttrs} id={`${id}_label`}>{label}</span>
	<input
		{...elemAttrs}
		aria-labelledby={`${labelledBy} ${id}_label`}
		{disabled}
		{form}
		id={id}
		min="0"
		name={`${parent}:${name}`}
		(size)
		(step)
		type="number"
		{value}
	/>
</label>
