---
import "./index.css";
import type { AstroPage } from "../../types";
import mapAttributes from "../../utilities/mapAttributes";

export type Props = {
  pages?: Array<AstroPage> | undefined | null;
  showDescription?: boolean | undefined | null;
};

const { as = "ol", pageLookup, pages, showDescription, ...attrs } = Astro.props;

const listAttrs = mapAttributes(attrs, ["sb-site-map"]);

function createListItems(
  [page, ...tail]: Array<AstroPage>,
  indent = 1
): string {
  if (page) {
    const depth = page.path.split("/").length || 1;
    const { label, path, title } = page as AstroPage & { depth: number };

    return [
      ...(depth > indent ? [`<${as}>`] : []),
      ...(depth < indent ? [`</li></${as}>`] : []),
      `<li><a href="${path}" title="${title}">${label || title}</a>`,
      createListItems(tail, depth),
    ].join("\n");
  }

  return "";
}
---

{pages ? <div {...listAttrs} set:html={createListItems(pages)} /> : null}
